<template lang="pug">
//- image.preview(style='top:-127rpx' mode="widthFix" src="/preview/my_addItem.png")
view.image-list(wx:if="{{images.length}}")
  view.image-list-item(wx:for="{{images}}" wx:key="*this")
    image(src="{{item}}" mode="aspectFill")
  view.image-list-item.uploader-fitin(wx:if="{{images.length}}")
    image(src="/assets/images/upload.png" mode="aspectFill" bindtap="upload")
view.flex.flex-center.uploader(wx:if="{{!images.length}}" bindtap="upload")
  image.gap-s(src="/assets/images/upload.png" mode="aspectFill")
  view 上传展示图片
  view.small.mute 请上传正方形，最多9张

view.cells.gap
  view.cell
    textarea(placeholder-class="mute-2" placeholder="输入商品标题" maxlength="40")
    text.mute-2.area-addon 0/40
  picker(mode="region").cell.cell-link 商品分类 #[text.cell-link-addon 女士/服装/上衣]
  picker(range="{{[1,2,3]}}").cell.cell-link 所属仓库 #[text.cell-link-addon pinko]
  picker(range="{{[1,2,3]}}").cell.cell-link 品牌 #[text.cell-link-addon pinko]
view.cells
  view.cell.cell-input
    text.cell-input-label 单位
    input(placeholder-class="mute-2" placeholder="如：个/件/双")
  view.cell.cell-input
    text.cell-input-label 材质
    input(placeholder-class="mute-2" placeholder="如：小牛皮")
  view.cell.cell-input
    text.cell-input-label 产地
    input(placeholder-class="mute-2" placeholder="如：意大利")

view.gap--btn-fix
view.btns-fixed
  view.btn.btn-primary(bindtap="navigate" data-to="step2") 下一步
</template>

<style lang="scss">
@import 'variable';
@include page-top();
.image-list {
  display: flex;
  overflow: hidden;
  flex-flow: wrap;
  margin-right: r(-8);
  padding: $padding;
  &-item {
    margin: 0 r(4) r(4) 0;
    width: r(113);
    height: r(113);
  }
}
// cells/cell 目前没发现能重用
.cells {
  background-color: #fff;
  font-size: $font-l;
}
.cell {
  position: relative;
  padding: r(10) $padding;
  border-bottom: 1px solid $color-border-2;
  &:last-of-type {
    border-bottom: 0;
  }
  &-link::after {
    position: absolute;
    top: 52%;
    right: $padding;
    width: r(8);
    height: r(8);
    border: 1px solid $color-border-2;
    border-width: 1px 1px 0 0;
    content: '';
    transform: translate(50%, -50%);
    transform: rotate(45deg);
    transform-origin: right top;
  }
  &-link-addon {
    position: absolute;
    right: r(30);
  }
  &-input {
    &-label {
      display: inline-block;
      width: r(50);
      color: $color-gray-2;
      vertical-align: middle;
    }
    input {
      display: inline-block;
      width: #{'calc(100% - ' + r(50) + ')'};
      vertical-align: middle;
    }
  }
}
.area-addon {
  position: absolute;
  right: 30rpx;
  bottom: 10rpx;
}
.image-list {
  &-item {
    width: r(113);
    height: r(113);
  }
}
.uploader {
  align-items: center;
  padding: r(25) 0 r(12);
  image {
    width: r(70);
    height: r(70);
  }
  &-fitin {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed $color-gray-4;
    image {
      width: r(50);
      height: r(50);
    }
  }
}

</style>

<script lang="javascript">
const { redirect, navigate, toast } = require('../../../libs/wechat')

Page({
  data: {
    images: []
  },
  navigate, redirect,
  upload() {
    wx.showActionSheet({
      itemList: ['从相册中选择', '拍照', '扫码识别商品'],
      success: ({ tapIndex }) => {
        switch (tapIndex) {
          case 0:
          case 1:
            wx.chooseImage({
              sourceType: [['album', 'camera'][tapIndex]],
              success: ({ tempFilePaths }) => {
                this.setData({
                  images: [...new Set(this.data.images.concat(tempFilePaths))]
                })
              }
            })
            break;

          case 2:
            wx.scanCode({
              success(res) {
                toast(res.result)
              },
              fail({errMsg}) {
                toast(errMsg)
              }
            })
            break;
        }
      }
    })
  }
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "新增商品",
  "navigationBarBackgroundColor": "#fff",
  "navigationBarTextStyle": "black"
}
</template>
