<template lang="pug">
//- image.preview(style='top:-127rpx' mode="widthFix" src="/preview/my_addItem_step2.png")
tab(items="{{['商品规格','颜色详情']}}" bindchange="onTab" current="{{tabIndex}}" slim)

//- 商品规格
block(wx:if="{{tabIndex === 0}}")
  view.panel.gap
    view.panel-title 颜色分类
    view.mg-x.cols-3
      view.input-cell(wx:for="{{customColors}}" wx:key="item.name" class="{{item.selected ? 'selected' : ''}}") {{item.name}}
        text.input-cell-del(wx:if="{{item.selected}}" bindtap="onDeleteColor" data-name="{{item.name}}")
      input.input-cell(placeholder-class="mute" placeholder="自定义颜色" maxlength="5" bindconfirm="onCustomColor")
      collapsable(min-height="160")
        view.cols-3
          view.input-cell(wx:for="{{colors}}" wx:key="item.name" bindtap="onSelectColor" data-name="{{item.name}}" class="{{item.selected ? 'selected' : ''}}"
          ) {{item.name}}

  //- 尺码
  view.panel.gap
    view.panel-title
      picker(range="{{sizes}}" range-key="name" value='{{sizesIndex}}' bindchange="onChangeSizes") {{sizes[sizesIndex].name}}
        text.ico.ico-arrow-down.mute-2
    view.mg-x.cols-3
      view.input-cell(wx:for="{{customSizes}}" wx:key="item.name" class="{{item.selected ? 'selected' : ''}}") {{item.name}}
        text.input-cell-del(wx:if="{{item.selected}}" bindtap="onDeleteSize" data-name="{{item.name}}")
      input.input-cell(placeholder-class="mute" placeholder="自定义尺码" maxlength="5" bindconfirm="onCustomSize")
      collapsable(min-height="160")
        view.cols-3
          view.input-cell(wx:for="{{sizesValue}}" wx:key="item.name" bindtap="onSelectSize" data-name="{{item.name}}" class="{{item.selected ? 'selected' : ''}}") {{item.name}}

  view.panel.gap(wx:if="{{selected.length}}")
    view.panel-title 商品属性
      text.panel-title-addon(bindtap="openBatchSetModal") 批量设置
    view.item-form(wx:for="{{selected}}" wx:key="index")
      view.golden "{{item.color}}"+"{{item.size}}"
      view.mg-t-h.cols-3
        input.input-cell(placeholder-class="mute" placeholder="输入折后价" maxlength="5" type="number")
        input.input-cell(placeholder-class="mute" placeholder="输入原价" maxlength="5" type="number")
        input.input-cell(placeholder-class="mute" placeholder="输入库存" maxlength="5" type="number")
      view.form
        view.flex.flex-hc.formitem
          view.formitem-label.mute 条形码
          input.flex-1(placeholder-class="mute" placeholder="输入条形码")
          view.ico.ico-scan.h2
        view.flex.flex-hc.formitem
          view.formitem-label.mute 货号
          input.flex-1(placeholder-class="mute" placeholder="货号")

//- 颜色详情
block(wx:else="")
  view.mg.cols-3
    view(wx:for="{{selected}}" wx:key="item.name")
      view.color-thumbnail
        image(wx:if="{{item.thumbnail}}" src="{{item.thumbnail}}" mode="aspectFit")
        image.color-thumbnail-upload(wx:else="" src="/assets/images/upload_grayscale.png" mode="aspectFit")
      view {{item.color}}

view.gap--btn-fix
view.btns-fixed
  view.btn 存入草稿
  view.btn.btn-primary(bindtap="onTab" data-index="{{1}}") 下一步

modal(wx:if="{{isBatchModalOpen}}" bindconfirm="onBatchConfirm"  bindcancel="onBatchCancel")
  view.flex.flex-hc.batch-formitem
    text 折后价
    input.flex-1(placeholder-class="mute" placeholder="输入折后价" maxlength="5" type="number")
  view.flex.flex-hc.batch-formitem
    text 原价
    input.flex-1(placeholder-class="mute" placeholder="输入原价" maxlength="5" type="number")
  view.flex.flex-hc.batch-formitem
    text 库存
    input.flex-1(placeholder-class="mute" placeholder="输入库存" maxlength="5" type="number")
  view.flex.flex-hc.batch-formitem
    text 条形码
    input.flex-1(placeholder-class="mute" placeholder="输入条形码")
    view.ico.ico-scan
  view.flex.flex-hc.batch-formitem
    text 货号
    input.flex-1(placeholder-class="mute" placeholder="输入货号")
</template>

<style lang="scss">
@import "variable";
@include page-top();
.panel-title {
  .ico {
    margin-left: 2 * $padding;
  }
}

.item-form {
  padding: $padding/2 $padding 0;
  border-top: 1px solid $color-border-4;
}
.input-cell {
  position: relative;
  border: 1px solid $color-border-3;
  border-radius: r(2);
  line-height: r(30);

  &.selected {
    border-color: $color-orange;
    color: $color-orange;
  }
  &-del {
    position: absolute;
    top: r(-10);
    right: r(-10);
    width: r(24);
    border-radius: 50%;
    background-color: #404040;
    color: #fff;
    text-align: center;
    line-height: r(24);
    transform: scale(0.6);
    &::before {
      content: "\2715";
    }
  }
}
input.input-cell {
  height: r(34);
  border: 0;
  background-color: $color-gray-5;
  font-size: smaller;
}
.form {
  margin-top: -$padding/2;
  &item {
    padding: r(10) 0;
    border-bottom: 1px solid $color-border-2;
    &:last-of-type {
      border-bottom: 0;
    }
    &-label {
      width: r(75);
    }
    .ico {
      margin: 0;
    }
  }
}
.color-thumbnail {
  position: relative;
  margin-bottom: r(8);
  height: r(105);
  border-radius: r(2);
  background-color: #fff;
  &-upload {
    position: absolute;
    top: 50%;
    left: 50%;
    width: r(32.5);
    height: r(35);
    transform: translate(-50%, -50%);
  }
}
@include ico("scan");
.batch-formitem {
  border: 1px solid #c9cdd2;
  border-radius: r(5);
  padding: r(8) $padding;
  > text {
    width: r(68);
  }
  + .batch-formitem {
    margin-top: $padding;
  }
  .ico {
    margin: 0;
    font-size: $font-xl;
  }
}
</style>

<script lang="javascript">
const { redirect, navigate, toast } = require('../../../libs/wechat')
const sizes = [
  {
    name: '尺码-通用',
    sizes: [
      { name: 'S', selected: true }, { name: 'M' }, { name: 'L' },
      { name: 'XS' }, { name: 'XL' }, { name: '均码' },
      { name: 'XXL' }, { name: 'XXXL' }, { name: '小号' },
      { name: '中号' }, { name: '大号' }, { name: '其他尺码' }
    ]
  },
  {
    name: '衣服-英码/美码',
    sizes: [
      { name: '0', selected: true }, { name: '2' }, { name: '4' },
      { name: '6' }, { name: '8' }, { name: '10' },
      { name: '12' }, { name: '14' }, { name: '16' },
      { name: '18' }, { name: '20' }
    ]
  },
  {
    name: '鞋子尺码-欧码',
    sizes: [
      { name: '36', selected: true }, { name: '36.5' }, { name: '37' },
      { name: '37.5' }, { name: '38' }, { name: '38.5' },
      { name: '39' }, { name: '39.5' }, { name: '40' },
      { name: '40.5' }, { name: '41' }, { name: '41.5' },
      { name: '42' }, { name: '43' }, { name: '44' }
    ]
  }
]
const animationToken = wx.createAnimation({ timingFunction: 'ease' })

Page({
  data: {
    tabIndex: 0,
    customColors: [{ name: '亚麻色', selected: true }],
    customSizes: [],
    colors: [
      { name: '乳白色', selected: true },
      { name: '白色', selected: true, thumbnail: '/assets/sample_images/color_thumbnail.jpg' },
      { name: '米白色' }, { name: '浅灰色' }, { name: '深灰色' },
      { name: '灰色' }, { name: '咖色' }, { name: '棕色' },
      { name: '黑色' }, { name: '粉色' }, { name: '酒红色' },
      { name: '红色' }, { name: '橙色' }, { name: '黄色' },
      { name: '绿色' }, { name: '深蓝色' }, { name: '浅蓝色' },
      { name: '紫色' }
    ],
    sizes,
    sizesIndex: 0,
    sizesValue: sizes[0].sizes,
    selected: [],
    // 批量设置弹窗
    isBatchModalOpen: false
  },
  navigate, redirect,
  openBatchSetModal() {
    this.setData({ isBatchModalOpen: true })
  },
  onShow() {
    this.setData({ selected: this.getSelected() })
  },
  select(name, type) {
    let setsName, sets;
    if (type === 'Size') {
      setsName = 'sizesValue'
      sets = this.data.sizesValue
    } else {
      setsName = `${type.toLowerCase()}s`
      sets = this.data[setsName]
    }
    const index = sets.findIndex(i => i.name === name)
    if (!name || !~index) return
    sets[index].selected = !sets[index].selected
    this.setData({ [setsName]: sets }, () => this.setData({ selected: this.getSelected() }))
  },
  custom(name, type) {
    const setsName = `custom${type}s`
    const sets = this.data[setsName]
    if (!name || sets.find(i => i.name === name)) return
    this.setData({
      [setsName]: sets.concat({
        name, selected: true
      })
    }, () => this.setData({ selected: this.getSelected() }))
  },
  delete(name, type) {
    const setsName = `custom${type}s`
    const sets = this.data[setsName]
    const index = sets.findIndex(i => i.name === name)
    if (!name || !~index) return
    sets.splice(index, 1)
    this.setData({ [setsName]: sets }, () =>
      this.setData({ selected: this.getSelected() })
    )
  },
  getSelected() {
    const selected = []
    const colors = this.data.customColors.concat(this.data.colors.filter(i => i.selected))
    const sizes = this.data.customSizes.concat(this.data.sizesValue.filter(i => i.selected))
    if (!colors.length || !sizes.length) return []
    sizes.forEach(s => {
      colors.forEach(c => {
        selected.push({
          color: c.name,
          size: s.name,
          thumbnail: c.thumbnail
        })
      })
    })
    return selected
  },
  onSelectColor(e) {
    this.select(e.target.dataset.name, 'Color')
  },
  onSelectSize(e) {
    this.select(e.target.dataset.name, 'Size')
  },
  onCustomColor(e) {
    this.custom(e.detail.value, 'Color')
  },
  onCustomSize(e) {
    this.custom(e.detail.value, 'Size')
  },
  onDeleteColor(e) {
    this.delete(e.target.dataset.name, 'Color')
  },
  onDeleteSize(e) {
    this.delete(e.target.dataset.name, 'Size')
  },
  onChangeSizes(e) {
    const sizesIndex = e.detail.value || 0
    this.setData({
      sizesIndex,
      sizesValue: sizes[sizesIndex].sizes
    }, () => this.setData({ selected: this.getSelected() }))
  },
  onTab(e) {
    this.setData({
      tabIndex: e.detail.current || e.currentTarget.dataset.index || 0
    })
  },
  onBatchConfirm() {
    this.setData({
      isBatchModalOpen: false
    })
  },
  onBatchCancel() {
    this.setData({
      isBatchModalOpen: false
    })
  }
})
</script>

<template lang="json">
{
  "navigationBarBackgroundColor": "#fff",
  "navigationBarTextStyle": "black",
  "navigationBarTitleText": "新增商品",
  "usingComponents": {
    "collapsable": "/components/collapsable",
    "tab": "/components/tab",
    "modal": "/components/modal"
  }
}
</template>
