<template lang="pug">
template(name="goods-item")
  view.panel.pd-x.gap.goods-item
    view.panel-title
      text.mute-1 仓库：{{warehouse}}
      text.panel-title-addon(wx:if="{{onsale}}") 已发布
      text.panel-title-addon(wx:else="") 编辑信息
    view.flex.flex-hc.h6.goods-item-body
      image.goods-item-thumbnail(mode="aspectFill" src="{{thumbnail}}")
      view.flex-1
        view.flex
          text.goods-item-title {{title}}
          text.flex-1.text-right 库存：{{count}}
        view.flex
          text.goods-item-title.goods-item-price {{price}}
          text.flex-1.text-right.mute-1 {{date}}
    view.flex.flex-end.pd-y-h
      block(wx:if="{{onsale}}")
        view.goods-item-action 复制模版
        view.goods-item-action.primary 修改图片
      block(wx:else="")
        view.goods-item-action 删除草稿
        view.goods-item-action 上架商品
        view.goods-item-action.primary 添加规格
</template>
