<template lang="pug">
template(name="order-item")
  view.order-item
    view.flex
      image.order-item-thumbnail(mode="aspectFill" src="{{thumbnail}}")
      view.flex-1
        view.flex
          view.h7 {{title}}
          view
            view.h5.mg-l {{price}}
            view.h7.gray.text-right x{{count}}
        view.h7.gray.mg-t-h {{color}};{{size}}
    view.mg-t-h.text-right #[text.h7 共{{count}}件商品 实付：] #[text.darkred.strong {{amount}}]
    view.order-item-status(wx:if!="{{status > -1}}")
      block(wx:if="{{status === 0}}") 待付款
      block(wx:elif="{{status === 1}}") 待发货
      block(wx:elif="{{status === 2}}") 卖家已发货
      block(wx:elif="{{status === 5}}") 退款中
      block(wx:elif="{{status === 6}}") 退款成功
</template>
