<template lang="pug">
template(name="product")
  view.product(bindtap="navigate" data-to="/pages/product/detail")
    image.product-thumbnail(mode="aspectFill" src="{{thumbnail}}")
    view.product-info
      view.h6 {{brand}}
      view.h5.gray.thin.lh-normal {{title}}
      view.strong.product-price {{price}}
</template>
