@import 'variable';

.panel {
  font-size: $font-s;
  background-color: #fff;
  &-title {
    position: relative;
    padding: r(14) $padding;
    line-height: 1;
    &-addon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      padding: 0 $padding;
      color: $color-orange;
    }
    .ico {
      margin-left: 2*$padding;
    }
  }
}
.block {
  background-color: #fff;
}

// buttons
.btns-fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
}
.btn {
  flex: 1;
  padding: r(8);
  background-color: #cda990;
  text-align: center;
  font-size: $font-l;
  &-primary {
    background-color: #161616;
    color: $color-golden;
  }
}
.btn-pill {
  position: fixed;
  right: 0;
  bottom: $padding;
  left: 0;
  margin: auto;
  padding: r(3) 0;
  width: r(120);
  border-radius: 2em;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: $font-l;
}

// icon
.ico {
  display: inline-block;
  margin-right: r(2);
  width: 1em;
  height: 1em;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  vertical-align: -.2em;
  &-arrow-right {
    display: inline-block;
    width: .5em;
    height: .5em;
    border: 0 solid;
    border-width: r(1) r(1) 0 0;
    content: '';
    // vertical-align: r(4);
    transform: rotate(45deg);
  }
  &-arrow-down {
    &::after {
      display: inline-block;
      width: .5em;
      height: .5em;
      border: 0 solid;
      border-width: r(1) r(1) 0 0;
      content: '';
      vertical-align: .4em;
      transform: rotate(135deg);
    }
  }
}
.goods-item {
  &-body {
    padding-top: r(10);
    padding-bottom: r(10);
    border: 0 solid $color-border-2;
    border-width: 1px 0;
    line-height: 1.5;
  }
  &-thumbnail {
    margin-right: r(10);
    width: r(44);
    height: r(44);
  }
  &-title {
    width: r(161);
  }
  &-price {
    margin-top: r(4);
    color: $color-red-2;
    font-weight: 500;
    font-size: $font;
  }
  &-action {
    box-sizing: border-box;
    margin-left: r(5);
    padding: r(5.5) r(12);
    border: 1px solid $color-border-3;
    border-radius: 2em;
    color: $color-gray-1;
    line-height: 1;
    &.primary {
      border-color: currentColor;
      color: $color-orange;
    }
  }

  &.panel .panel-title {
    padding: r(11) 0;
    &-addon {
      padding: 0;
    }
  }
}
.order-item {
  margin: r(10) $padding;
  padding: r(10) r(10) r(5) r(10);
  border-radius: r(5);
  background-color: #fff;
  line-height: 1.5;
  &-thumbnail {
    margin-right: r(10);
    width: r(90);
    height: r(90);
  }
  &-status {
    margin-top: r(5);
    padding-top: r(5);
    border-top: 1px solid $color-border-2;
    color: #ff9c7b;
    text-align: right;
    font-weight: 500;
    font-size: $font-s;
  }
}

// 大牌爆款
.feature-item {
  background-color: #fff;
  &-brand {
    background-color: #000;
    color: #fff;
    > image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      opacity: .5;
    }
    .h2 {
      margin-bottom: r(5);
      line-height: 1;
    }
  }
  &-logo {
    margin-right: $padding;
    width: r(60);
    height: r(60);
    border-radius: r(10);
    background-color: #fff;
  }
  &-list {
    white-space: nowrap;
  }
  &-product {
    display: inline-block;
    margin-right: r(10);
    width: r(100);
    height: r(100);
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    text-align: center;
    > image {
      margin: auto;
      width: 75%;
      height: 75%;
    }
    &:last-child {
      margin-right: $padding;
    }
  }
}

.product {
  display: inline-block;
  border: 1px solid $color-border-2;
  box-sizing: border-box;
  margin: r(4.75);
  width: r(168);
  background-color: #fff;
  &-info {
    padding: r(5) r(10);
  }
  &-thumbnail {
    height: r(168);
    border-bottom: 1px solid $color-border-2;
  }
  &-price {
    color: #81241f;
  }
}

@include ico('nation-it');
.brand-item {
  position: relative;
  border-radius: r(10);
  background: linear-gradient(to bottom, #fffeeb 0%,#ffffff 100%);
  box-shadow: 0 0 4px rgba(0,0,0,.05);
  &-thumbnail {
    margin: r(10) r(16) r(10) r(10);
    width: r(140);
    height: r(80);
  }
  &-logo {
    margin-right: r(10);
    width: r(40);
    height: r(40);
  }
  > .ico-arrow-right {
    position: absolute;
    right: r(12);
    top: 50%;
  }
}
.invisiable {
  visibility: hidden;
}

.btn-follow {
  --dark: $color-black;
  --radius: 2em;
  line-height: 1;
  padding: .3em .6em .3em .5em;
  border: 1px solid;
  border-radius: var(--radius);
  color: var(--dark);
  font-weight: 500;
  &::after {
    content: '+ 关注';
  }
  &.followed {
    border-color: var(--dark);
    background-color: var(--dark);
    color: #fff;
    &::after {
      content: '已关注';
    }
  }
}

.swiper {
  position: relative;
  &-indicator {
    position: absolute;
    bottom: r(8);
    left: 50%;
    padding: r(2.5) r(4);
    border-radius: r(10);
    background-color: rgba(0, 0, 0, .3);
    font-size: 0;
    transform: translateX(-50%);
    > view {
      display: inline-block;
      margin: 0 r(4);
      width: r(5);
      height: r(5);
      border-radius: 50%;
      background-color: #fff;
      opacity: .4;
      &.actived {
        border-radius: 0;
        opacity: 1;
        transform: rotate(45deg);
      }
    }
  }
}
