@import 'variable';

.flex {
  display: flex;
  &-around {
    justify-content: space-around;
  }
  &-between {
    justify-content: space-between;
    &-y {
      justify-content: space-between;
      flex-direction: column;
    }
  }
  &-center {
    flex-direction: column;
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
  &-hc {
    align-items: center;
  }
  &-1 {
    flex: 1;
  }
  &-wrap {
    flex-flow: wrap;
  }
}

.cols-3 {
  > view, > input {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: r(13);
    width: r(105);
    vertical-align: middle;
    text-align: center;
    &:nth-child(3n-1) {
      margin-right: $padding;
      margin-left: $padding;
    }
  }
}

.pull-right {
  float: right;
}
.gap {
  margin-bottom: r(10);
  &-xl {
    margin-bottom: r(25);
  }
  &-s {
    margin-bottom: r(5);
  }
  &--btn-fix {
    // padding-top: 1px; // BFC
    padding-bottom: r(70);
  }
}
.clear {
  overflow: hidden;
}
.positioned {
  position: relative;
}

// mg: margin
// x: vertical
// y: horizontal
// h: half

.mg {
  margin: $padding;
  &-h {
    margin: $padding/2;
  }
}
.mg-x {
  margin-right: $padding;
  margin-left: $padding;
  &-h {
    margin-right: $padding/2;
    margin-left: $padding/2;
  }
  &-ot {
    margin-right: 2*$padding/3;
    margin-left: 2*$padding/3;
  }
}
.mg-y {
  margin-top: $padding;
  margin-bottom: $padding;
  &-h {
    margin-top: $padding/2;
    margin-bottom: $padding/2;
  }
  &-ot {
    margin-top: 2*$padding/3;
    margin-bottom: 2*$padding/3;
  }
}
.mg-t {
  margin-top: $padding;
  &-h {
    margin-top: $padding/2;
  }
  &-ot {
    margin-top: 2*$padding/3;
  }
}
.mg-b {
  margin-bottom: $padding;
  &-h {
    margin-bottom: $padding/2;
  }
}
.mg-l {
  margin-left: $padding;
  &-h {
    margin-left: $padding/2;
  }
}
.mg-r {
  margin-right: $padding;
  &-h {
    margin-right: $padding/2;
  }
}

.pd {
  padding: $padding;
  &-h {
    padding: $padding/2;
  }
}
.pd-ot {
  padding: 2*$padding/3;
}
.pd-t {
  padding-top: $padding;
  &-h {
    padding-top: $padding/2;
  }
}
.pd-l {
  padding-left: $padding;
}
.pd-b {
  padding-bottom: $padding;
  &-h {
    padding-bottom: $padding/2;
  }
  &-ot {
    padding-bottom: 2*$padding/3;
  }
}
.pd-x {
  padding-right: $padding;
  padding-left: $padding;
  &-h {
    padding-right: $padding/2;
    padding-left: $padding/2;
  }
  &-ot {
    padding-right: 2*$padding/3;
    padding-left: 2*$padding/3;
  }
}
.pd-y {
  padding-top: $padding;
  padding-bottom: $padding;
  &-h {
    padding-top: $padding/2;
    padding-bottom: $padding/2;
  }
  &-ot {
    padding-top: 2*$padding/3;
    padding-bottom: 2*$padding/3;
  }
}
