@import 'variable';

page {
  background-color: $color-gray-6;
  color: #333;
  font-size: $font;
  line-height: 1.8;
}
scroll-view {
  width: auto;
  height: 100%;
}
cover-view {
  line-height: inherit;
}
image {
  display: block;
}
textarea {
  width: auto;
  height: r(55);
  line-height: 1;
}
image {
  width: 100%;
  height: 100%;
}
input {
  height: auto;
  border: 0;
}
