@import 'variable';

.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}
.lh-normal {
  line-height: 1.5;
}
.h1 {
  font-size: $font-xxl;
}
.h2 {
  font-size: $font-xl;
}
.h3 {
  font-size: $font-l;
}
.h4 {
  font-size: $padding;
}
.h5 {
  font-size: $font-s;
}
.h6 {
  font-size: $font-xs;
}
.h7 {
  font-size: $font-xxs;
}
.small {
  font-size: 80%;
}
.smaller {
  font-size: 70%;
}
.mute {
  color: $color-gray-2;
}
.mute-1 {
  color: $color-gray-3;
}
.mute-2 {
  color: $color-gray-4;
}
.strong {
  font-weight: 500;
}
.thin {
  font-weight: 300;
}
.golden {
  color: $color-golden;
}
.red {
  color: #e65f5f;
}
.darkred {
  color: $color-red-2;
}
.orange {
  color: $color-orange;
}
.gray {
  color: $color-gray-1;
}
