@function r($size) {
  @return $size * 2 * 1rpx;
}
@mixin page-top {
  page {
    border-top: 1px solid $color-border-2;
  }
}
@mixin ico($name) {
  .ico-#{$name} {
    background-image: base64('assets/images/ico-' + $name + '.png');
  }
}

$padding: r(15);
$font-xxl: r(32);
$font-xl: r(18);
$font-l: r(16);
$font: r(14);
$font-s: r(13);
$font-xs: r(12);
$font-xxs: r(11);

// color
$color-black: #141414;
$color-border-1: #e8e8e8;
$color-border-2: #e4e9ee;
$color-border-3: #c9cdd2;
$color-border-4: #c1c7cd;
$color-orange: #fa8554;
$color-gray-1: #777;
$color-gray-2: #999;
$color-gray-3: #aaa;
$color-gray-4: #ccc;
$color-gray-5: #e4e7f2;
$color-gray-6: #f3f4f9;
$color-red-2: #930a0e;
$color-golden: #edd4c1;

$titlebar-height: r(45);
