<template lang="pug">
view.swiper
  swiper(autoplay circular bindchange="swiperChange" data-key="swiperIndex")
    swiper-item(wx:for="1234" wx:key="item")
      image(mode="aspectFill" src="/assets/sample_images/slider_img.jpg")
  view.swiper-indicator
    view(wx:for="1234" wx:key="item" class="{{swiperIndex === index ? 'actived' : ''}}")

view.block.gap
  view.pricing.flex.flex-hc.lh-normal
    view.h2.strong.pricing-price #[text.smaller €]199.00
    view.flex-1
      view.h6.mute-1.pricing-original €259.00
      view.h7: text.pricing-tag 限时优惠
    view.cd-front
    view.h7.cd
      view.strong.cd-caption 距活动结束还剩:
      view
        text.cd-text 11
        text.cd-sep :
        text.cd-text 11
        text.cd-sep :
        text.cd-text 11
        text.cd-sep :
        text.cd-text 11
  view.pd
    view.h2.strong PINKO
    view.flex.flex-between.flex-hc
      view.h3 PINKO 18秋冬新款深蓝色丝绒珍珠
      view.ico.ico-bags.h2
    view.gray.h5.lh-normal
      view.mg-y-h.flex.flex-between
        view 运费 免运费
        view 库存 2件
        view 意大利
      view 约折合：¥1552.20（今日汇率€1=¥7.80）

view.block.lh-normal.gap.pd-x
  view.pd-y-ot 颜色:  #[text.mark-block 深蓝色]
  view.pd-y-ot 尺码:  #[text.mark-block L]

view.block.gap.flex.flex-hc.pd
  image.logo.mg-r(mode="aspectFit" src="/assets/sample_images/slider_img.jpg")
  view.flex-1
    view.h4.lh-normal PINKO
    view.h5.gray 商品：107
  view.btn-follow(class="{{followed ? 'followed' : ''}}" bindtap="follow")

view.block
  view.pd-y-h.h3.strong.text-center 商品详情
  view.detail.pd
    view.detail-header.h4 产品信息
    view.detail-info.h4
      view
        text.strong 品牌：
        text PINKO
      view
        text.strong 品名：
        text pinko燕子包
      view
        text.strong 型号：
        text CCIYD678
      view
        text.strong 颜色：
        text 深蓝色 黑色深蓝色 黑色深蓝色 黑色深蓝色 黑色深蓝色 黑色深蓝色 黑色
      view
        text.strong 材质：
        text 真皮
      view
        text.strong 产地：
        text 意大利
    view.text-center.lh-normal.detail-tips 温馨提示：由于显示器及拍摄环境不同，存在略微色差，请以收到实物为准！
  view.detail
    view.detail-header.h4 商品展示
    view
      image(mode="widthFix" src="/assets/sample_images/slider_new_img.jpg")

view.block.gap.pd-x.pd-y-ot
  view.h3.strong 价格说明
  view.gray 页面上显示的€***均为参考价，并非原价。
  view.gap--btn-fix

view.fab(class="{{isFabOpen ? 'opened' : ''}}")
  view.fab-group(wx:if="{{isFabOpen}}")
    view.fab-item #[view.ico.ico-download]
    view.fab-item #[view.ico.ico-forward]
    view.fab-item #[view.ico.ico-heart-solid]
  view.fab-item.fab-switch(catchtap="onFab")

view.flex.text-center.footer
  view.footer-link(bindtap="navigate" data-to="/pages/index" data-tab="") #[view.ico.ico-home2.h4] 首页
  view.footer-link #[view.ico.ico-headset.h4] 客服
  view.footer-link(bindtap="navigate" data-to="/pages/cart" data-tab="") #[view.ico.ico-cart.h4] 购物车
  view.footer-btn.strong(bindtap="onAddCart") 加入购物车
  view.footer-btn.primary.strong.golden(bindtap="onBuy") 立即购买

picker#picker(mask="{{true}}")
</template>

<style lang="scss">
@import 'variable';
@include ico('bags');
@include ico('home2');
@include ico('cart');
@include ico('headset');
@include ico('download');
@include ico('forward');
@include ico('heart-solid');
.swiper {
  swiper {
    height: r(375);
  }
}
.pricing {
  background-color: #f9e9dd;
  &-original {
    margin-bottom: r(3.5);
    line-height: 1;
  }
  &-tag {
    display: inline-block;
    padding: r(1) r(7);
    border-radius: r(2);
    background: linear-gradient(to right, #d7baa5 0%,#cda88f 100%);
    color: $color-black;
  }
  &-price {
    margin: 0 r(10) 0 $padding;
    color: #443229;
  }
  .cd {
    padding: 0 $padding 0 r(10);
    height: r(45);
    background: linear-gradient(to right, #d7baa5 0%,#cda88f 100%);
    text-align: right;
    &-caption {
      margin: r(4) 0 r(2.5);
    }
    &-text {
      display: inline-block;
      width: r(15);
      border-radius: r(2);
      background-color: #4f4038;
      color: #fff;
      text-align: center;
    }
    &-sep {
      padding: 0 r(1);
      font-weight: bold;
    }
    &-front {
      width: r(15);
      height: r(45);
      background: base64('assets/images/countdown_bg.png') no-repeat;
      background-size: 100% 100%;
    }
  }
}
.mark-block {
  display: inline-block;
  margin: 0 r(5);
  padding: r(2);
  min-width: r(40);
  border-radius: r(2);
  background-color: #cda990;
  color: #fff;
  text-align: center;
  font-size: $font-xs;
}
.logo {
  width: r(85);
  height: r(40);
}
.btn-follow {
  --dark: #4f4038;
  --radius: #{r(2)};
}
$detail-header-width: r(126);
.detail {
  background-color: #f6f7f9;
  &-header {
    position: relative;
    margin: 0 auto $padding;
    padding: r(2.5) 0;
    width: $detail-header-width;
    background-color: $color-black;
    color: #fff;
    text-align: center;
    line-height: 1;
    &::before, &::after {
      position: absolute;
      top: 50%;
      width: r(90);
      border-top: 1px solid $color-black;
      content: '';
      transform: translateY(-50%);
    }
    &::before {
      left: $detail-header-width + r(5);
    }
    &::after {
      right: $detail-header-width + r(5);
    }
  }
  &-info {
    text:first-child {
      float: left;
    }
    text:last-child {
      display: table-cell;
    }
  }
  &-tips {
    margin: $padding 0 r(40);
    color: #f48b90;
    text-align: center;
  }
}
$footer-height: r(45);
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 -4px 7px 0 rgba(0, 0, 0, .04);
  line-height: 1;
  &-link {
    flex: 1;
    font-size: r(9);
    .ico {
      display: block;
      margin: r(7) auto;
    }
  }
  &-btn {
    width: r(120);
    box-shadow: -2px 0 2px 0 rgba(247, 247, 247, 1);
    line-height: $footer-height;
    &.primary {
      background: linear-gradient(-90deg, #161616 12%, #333 91%);
      box-shadow: none;
    }
  }
}
.gap--btn-fix {
  padding-bottom: $footer-height;
}
.fab {
  position: fixed;
  right: r(12);
  bottom: $footer-height + r(22);
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: r(10);
    width: r(44);
    height: r(44);
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 14px rgba(0, 0, 0, .08);
    font-size: r(18);
  }
  .ico {
    margin: auto;
  }
  &-switch {
    position: relative;
    transition: all .15s;
    transform: rotate(45deg);
    &::before, &::after {
      position: absolute;
      top: #{'calc(50% - ' + r(1) +')'};
      left: #{'calc(50% - ' + r(8) +')'};
      width: r(16);
      height: r(2);
      border-radius: r(2);
      background-color: currentColor;
      content: '';
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  &.opened {
    .fab-group {
      transform-origin: bottom center;
      animation: scaleIn .25s both;
    }
    .fab-switch {
      background-color: rgba(0, 0, 0, .4);
      color: #fff;
      transform: rotate(0);
    }
  }
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scaleY(.7);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

</style>

<script lang="javascript">
const { redirect, navigate, toast } = require('../../libs/wechat')
const app = getApp()

Page({
  data: {
    swiperIndex: 0,
    followed: false,
    isFabOpen: false
  },
  follow() {
    this.setData({
      followed: !this.data.followed
    }, () => {
      toast(this.data.followed ? '已关注' : '已取消关注')
    })
  },
  redirect, navigate,
  swiperChange(e) {
    const { current } = e.detail
    const { key } = e.currentTarget.dataset
    this.setData({ [key]: current })
  },
  onLoad() {
    this.picker = this.selectComponent('#picker')
  },
  onFab() {
    this.setData({
      isFabOpen: !this.data.isFabOpen
    })
  },
  onBuy(e) {
    this.picker.pick().then(res => {
      navigate('../checkout')
    })
  },
  onAddCart(e) {
    this.picker.pick().then(res => {
      app.global.products.push({
        id: Date.now(),
        title: 'Fendi/芬迪PEEKABOO FIT系列手提单肩公文包',
        price: '€100.00',
        amount: 100,
        size: 'S',
        color: '棕色',
        count: 1,
        checked: false,
        brand: 'Fendi',
        thumbnail: '/assets/sample_images/color_thumbnail.jpg'
      })
      toast('已加入购物车')
    })
  },
  onPickerConfirm({ detail }) {
    toast('已选：' + Object.values(detail))
  }
})
</script>

<template lang="json">
{
  "navigationBarBackgroundColor": "#ffffff",
  "navigationBarTextStyle": "black",
  "navigationBarTitleText": "PINKO",
  "usingComponents": {
    "picker": "/components/picker"
  }
}
</template>
