<template lang="pug">
import(src="/templates/product.wxml")
template(name="cart-item")
  view.item-hr
  slide-view
    view.flex.flex-hc.pd-x.pd-y-h(slot="content")
      checkbox(value="checked" checked="{{checked}}" bindchange="checkOne" data-id="{{id}}")
      image.item-thumbnail(mode="aspectFill" src="{{thumbnail}}")
      view.flex-1
        view.lh-normal.h5 {{title}}
        view.h6.item-spec(bindtap="onPick") {{color}};{{size}} #[text.ico.ico-arrow-down]
        view.flex.flex-between
          text.red.strong {{price}}
          input-number(bindchange="updateCount" value="{{count}}" data-id="{{id}}")
    view.item-action.flex.h5(slot="hidden")
      view.flex-1.flex.flex-hc.flex-center(bindtap="collectOne" data-id="{{id}}") 收藏
      view.flex-1.flex.flex-hc.flex-center(bindtap="deleteOne" data-id="{{id}}") 删除

view.block.pd-x.pd-y-h.positioned
  view.flex.flex-hc.h3 #[checkbox(bindchange="checkAll")] #[view.ico.ico-shop] #[text.strong Buytobuyer]
  view.panel-title-addon.h3(bindtap="manage") {{mode === 0 ? '管理' : '完成'}}

template(is="cart-item" wx:for="{{items}}" wx:key="id" data="{{...item}}")
view.pd-x-ot
  view.h3.strong.text-center.mg-t.mg-b-h 最近浏览
  template(is="product" wx:for="{{items}}" wx:key="id" data="{{...item}}")

view.gap--btn-fix
view.flex.flex-hc.checkout
  view.flex-1.text-right
    view #[text.h6.mg-r 合计:] #[text.darkred.strong {{total.amount}}]
    view.h6 不含运费
  view.checkout-btn.text-center(bindtap="process")
    text(wx:if="{{mode === 0}}") 结算({{total.count}})
    text(wx:else="") 删除

picker#picker(mask="{{true}}")
</template>

<style lang="scss">
@import "variable";
@include ico("shop");
$checkout-height: r(45);
$checkout-btn-width: r(110);

.block .ico {
  margin: 0 r(7) 0 0;
}
.panel-title-addon {
  color: #4a4a4a;
}
.item {
  &-hr {
    padding-left: $padding;
    background-color: #fff;
    &::after {
      display: block;
      border-top: 1px solid $color-border-2;
      content: "";
    }
  }
  &-thumbnail {
    margin: 0 r(11);
    width: r(100);
    height: r(100);
  }
  &-spec {
    display: inline-block;
    margin: r(5) 0 r(12);
    padding: r(1.5) r(10);
    border-radius: 2em;
    background-color: #f1eff0;
    .ico {
      margin: 0 0 0 r(14);
    }
  }
  &-action {
    width: $checkout-btn-width;
    height: 100%;
    view {
      &:first-child {
        background-color: $color-black;
        color: #fff;
      }
      &:last-child {
        background-color: $color-golden;
        color: #443229;
      }
    }
  }
}
.checkout {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding-right: $checkout-btn-width + r(10);
  height: $checkout-height;
  border-top: 1px solid #dbdbdb;
  background-color: #fcfeff;
  line-height: 1.4;
  &-btn {
    position: absolute;
    top: -1px;
    right: 0;
    width: $checkout-btn-width;
    height: $checkout-height;
    background: linear-gradient(90deg, #d7bba7 0%, #cda88f 100%);
    line-height: $checkout-height;
  }
}
</style>

<script lang="javascript">
const { redirect, navigate, modal, toast } = require('../libs/wechat')
const app = getApp()

Page({
  data: {
    items: [],
    checked: false,
    total: { ids: [], amount: 0, count: 0 },
    mode: 0, // 0 checkout, 1 delete
  },
  redirect, navigate,
  updateCount(e) {
    const value = e.detail.value
    const id = e.currentTarget.dataset.id
    this.setData({
      items: this.data.items.slice().map(i => {
        if (i.id === id) {
          i.count = value
        }
        return i
      })
    }, this.calcAmount.bind(this))
  },
  calcAmount() {
    const total = this.data.items.reduce((total, current) => {
      if (current.checked) {
        total.ids.push(current.id)
        total.amount += current.amount * current.count
        total.count += current.count
      }
      return total
    }, { ids: [], amount: 0, count: 0 })

    total.amount = '€' + total.amount.toFixed(2)
    this.setData({ total })
    if (total.count) {
      wx.setTabBarBadge({
        index: 2,
        text: String(total.count)
      })
    } else {
      wx.removeTabBarBadge({
        index: 2
      })
    }
  },
  checkAll(e) {
    const checked = e.detail.value
    this.setData({
      checked,
      items: this.data.items.slice().map(i => {
        i.checked = checked
        return i
      })
    }, this.calcAmount.bind(this))
  },
  checkOne(e) {
    const checked = e.detail.value
    const id = e.currentTarget.dataset.id
    this.setData({
      items: this.data.items.slice().map(i => {
        if (i.id === id) i.checked = checked
        return i
      })
    }, this.calcAmount.bind(this))
  },
  deleteOne(e) {
    modal('确定删除？').then(() => {
      const id = e.currentTarget.dataset.id
      const items = []
      this.data.items.forEach(i => {
        if (id !== i.id) items.push(i)
      })
      this.setData({
        items
      }, () => {
        this.calcAmount(this)
        toast('成功')
      })
    })
  },
  collectOne(e) {
    const id = e.currentTarget.dataset.id
    toast('收藏成功')
  },
  manage() {
    this.setData({
      mode: this.data.mode === 0 ? 1 : 0
    })
  },
  process() {
    if (this.data.mode == 1) {
      return modal('确定删除？').then(() => {
        const items = []
        this.data.items.forEach(i => {
          if (!i.checked) items.push(i)
        })
        return this.setData({
          items,
          mode: 0,
          checked: false
        }, this.calcAmount.bind(this))
      })
    }

    // checkout
    wx.navigateTo({
      url: 'checkout'
    })
  },
  onShow() {
    this.setData({
      items: app.global.products
    }, () => {
      this.calcAmount()
    })
  },
  onLoad() {
    this.picker = this.selectComponent('#picker')
  },
  onPick() {
    this.picker.pick().then(res => {
      toast('已选：' + Object.values(res))
    })
  }
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "购物车",
  "usingComponents": {
    "slide-view": "/components/slide-view",
    "input-number": "/components/input-number",
    "checkbox": "/components/checkbox",
    "picker": "/components/picker"
  }
}
</template>
