<template lang="pug">
tab(items="{{['女士','男士','儿童']}}" bindchange="onTab" current="{{tabIndex}}" height="90")
view.mg
  view.positioned.gap(wx:for="{{classes[tabIndex]}}" wx:key="index" bindtap="onSub" data-index="{{index}}")
    image(mode="widthFix" src="/assets/sample_images/categories/{{tabIndex}}/{{index}}.png")
    view.subclass(wx:if="{{subLayerStatuses['' + tabIndex + index]}}")
      view.pd-y.text-center(wx:for="{{classes[tabIndex][index]}}" wx:key="*this") {{item}}
</template>

<style lang="scss">
@import "variable";
.subclass {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(225, 227, 230, 1);
  > view {
    display: inline-block;
    width: 33.333333%;
    &:active {
      background-color: #ebeef2;
    }
  }
}
</style>

<script lang="javascript">
const { redirect, navigate, modal, toast } = require('../libs/wechat')
const empty = n => '.'.repeat(n).split('')
  .map(i => '空的'.repeat(1 + Math.random() * 10).split(''))

Page({
  data: {
    tabIndex: 0,
    subLayerStatuses: {},
    classes: [
      // 女士
      [
        // 上装
        ['全部', '外套', '卫衣', '雪纺衫', '毛衣/针织衫', 'T恤', '大衣', '衬衫', '夹克', '风衣', '礼服', '礼服', '内衣', '皮衣', '吊带背心', 'POLO衫', '皮草', '羽绒服', '棉服', '西服'],
        ...empty(8)
      ],
      // 男士
      empty(9),
      // 儿童
      empty(9)
    ]
  },
  redirect, navigate,
  onTab(e) {
    const tabIndex = e.detail.current
    if (tabIndex === undefined || tabIndex === this.data.tabIndex) return
    this.setData({
      tabIndex
    })
  },
  onSub(e) {
    const index = e.currentTarget.dataset.index
    if (index !== undefined) {
      const statuses = this.data.subLayerStatuses
      const key = this.data.tabIndex + '' + index
      statuses[key] = !statuses[key]
      this.setData({
        subLayerStatuses: statuses
      })
    }
  }
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "分类",
  "usingComponents": {
    "tab": "/components/tab"
  }
}
</template>
