<template lang="pug">
view.pd
  view.block
    view.flex.flex-hc.pd-ot
      view.ico.ico-location2.h2
      view.flex-1.pd-y(bindtap="navigate" data-to="my/address/index")
        block(wx:if="{{address}}")
          view.mg-b-h 大宝 #[text.gray.h4.mg-l 13456657878]
          view 广东省深圳市南山区星海名城二期七组团
        view.strong.h3(wx:else="") 请填写收货地址
      view.ico.ico-arrow-right.h2.mute-2
    view.hr
    view.gap.pd-ot
      view.flex.flex-hc.bordered.pd-b
        view.ico.ico-bag.h2
        view.flex-1 #[text.h3.strong 推荐人:] #[text  Fashionh12]
      //- item list
      view.flex.item.h5.mg-y(wx:for="123" wx:key="item")
        image(mode="aspectFill" src="/assets/sample_images/product.jpg")
        viee.flex-1
          view
            view
              text.h3 GUCCI
              text.h4.pull-right.darkred €149.00
            view
              text 多色双G条纹外套
              text.h6.pull-right.gray x1
            view.h6.mute.mg-t: text.item-spec 颜色：黑色；尺码：S;
      view.pd-y-h.bordered 运费：#[text.h4.pull-right €0.00]
      view.pd-y-h.bordered 佣金：#[text.h4.pull-right €10.00]
      view.mg-t-ot.text-right #[text.mg-r-h 共2件商品] 小计：#[text.darkred €316.00]

  view.block.pd-ot
    view.h5.mg-b-h 买家留言：
    textarea

view.gap--btn-fix
view.flex.footer
  view.flex.flex-1.pd-l
    text.h5 应付金额：
    text.h2.strong €316.00
    text.h6.mg-l-h  ¥568.8
  view.h3.footer-btn(catchtap="onBuy") 提交订单
</template>

<style lang="scss">
@import 'variable';
@include ico('location2');
@include ico('bag');

.ico {
  margin-right: r(10);
}
.block {
  border-radius: r(10);
}
$footer-height: r(48);
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-black;
  color: #fff;
  line-height: $footer-height;
  &-btn {
    width: r(120);
    background: linear-gradient(-90deg,#cda88f 0%,#d7bba7 100%);;
    color: $color-black;
    text-align: center;
  }
}
.gap--btn-fix {
  padding-bottom: $footer-height;
}
.item {
  line-height: 1.5;
  image {
    margin-right: r(15);
    width: r(80);
    height: r(80);
    border-radius: r(2);
  }
  &-spec {
    background-color: #f3f4f9;
  }
}
.bordered {
  border-bottom: 1px solid $color-border-2;
}
.hr {
  height: r(10);
  background: #fff base64('assets/images/hr.png') center no-repeat;
  background-size: 100% auto;
}
.darkred {
  color: #a81d1c;
}

</style>

<script lang="javascript">
const { redirect, navigate } = require('../libs/wechat')
const app = getApp()

Page({
  data: {
    address: null
  },
  redirect, navigate,
  onShow() {
    const address = app.global.addresses[0]
    if (address)
      this.setData({ address })
  }
})
</script>

<template lang="json">
{
  "navigationBarBackgroundColor": "#fff",
  "navigationBarTextStyle": "black",
  "navigationBarTitleText": "确认订单"
}
</template>
