<template lang="pug">
import(src="/templates/product.wxml")
import(src="/templates/feature-item.wxml")
view.swiper
  swiper(autoplay circular bindchange="swiperChange" data-key="swiperIndex")
    swiper-item(wx:for="1234" wx:key="item")
      image(mode="aspectFill" src="/assets/sample_images/slider_img.jpg" bindtap="navigate" data-to="product/detail")
  view.swiper-indicator
    view(wx:for="1234" wx:key="item" class="{{swiperIndex === index ? 'actived' : ''}}")
  view.swiper-field.flex.flex-hc(bindtap="navigate" data-to="search")
    view #[text.ico.ico-search.h2.mg-x-ot] #[text.gray.mg-l-h 搜索商品、型号、品牌、分类]

view.flex.panel.text-center.pd-y-h
  view.flex-1(bindtap="navigate" data-to="buyer/index")
    image.country-avatar(mode="aspectFill" src="/assets/images/avatar_it.png")
    view.h5 意大利
  view.flex-1(bindtap="navigate" data-to="buyer/index")
    image.country-avatar(mode="aspectFill" src="/assets/images/avatar_uk.png")
    view.h5 英国
  view.flex-1(bindtap="navigate" data-to="buyer/index")
    image.country-avatar(mode="aspectFill" src="/assets/images/avatar_cn.png")
    view.h5 中国
  view.flex-1(bindtap="navigate" data-to="buyer/index")
    image.country-avatar(mode="aspectFill" src="/assets/images/avatar_es.png")
    view.h5 西班牙

image(mode="widthFix" src="/assets/sample_images/index_banner.jpg" bindtap="navigate" data-to="product/detail")

view.panel.gap
  view.panel-title.h3.strong #[text.ico.ico-idx-t1] 热门品牌
    view.panel-title-addon(bindtap="navigate" data-to="brand/index") more #[text.ico.ico-arrow-right]
  view.pd-x.brand-list
    image(wx:for="1234678" wx:key="index" mode="aspectFill" bindtap="navigate" data-to="brand/detail")

view.panel.gap
  view.panel-title.h3.strong #[text.ico.ico-idx-t2] 限时特卖
    view.panel-title-addon(bindtap="navigate" data-to="search?q=限时") more #[text.ico.ico-arrow-right]
  view.flex
    image.flex-1(mode="widthFix" src="/assets/sample_images/index_banner_group1.jpg" bindtap="navigate" data-to="search?q=大牌")
    view.flex-1
      image(mode="widthFix" src="/assets/sample_images/index_banner_group2.jpg" bindtap="navigate" data-to="search?q=爆款")
      image(mode="widthFix" src="/assets/sample_images/index_banner_group3.jpg" bindtap="navigate" data-to="search?q=特价")

view.panel.gap.swiper-new.pd-b
  view.panel-title.h3.strong #[text.ico.ico-idx-t3] 新品首发
    view.panel-title-addon(bindtap="navigate" data-to="search?q=新品") more #[text.ico.ico-arrow-right]
  swiper(bindchange="swiperChange" previous-margin="216rpx" next-margin="216rpx" data-key="swiperNewIndex" current="{{swiperNewIndex}}")
    swiper-item(wx:for="1234" wx:key="item")
      image(mode="aspectFill" src="/assets/sample_images/slider_new_img.jpg" bindtap="navigate" data-to="product/detail" class="{{swiperNewIndex === index ? 'actived' : ''}}")

view.panel.gap
  view.panel-title.h3.strong #[text.ico.ico-idx-t4] 大牌爆款
    view.panel-title-addon(bindtap="navigate" data-to="brand/featurelist") more #[text.ico.ico-arrow-right]
  template(is="feature-item" wx:for="12" wx:key="item")

view.panel
  view.panel-title.h3.strong #[text.ico.ico-idx-t5] 精选好货
  view.pd-x-ot.pd-b-ot
    template(is="product" wx:for="{{items}}" wx:key="id" data="{{...item}}")
</template>

<style lang="scss">
@import 'variable';
@include ico('search');
@include ico('idx-t1');
@include ico('idx-t2');
@include ico('idx-t3');
@include ico('idx-t4');
@include ico('idx-t5');

.swiper {
  swiper {
    height: r(180);
  }
  &-field {
    position: absolute;
    top: r(7);
    right: $padding;
    left: $padding;
    height: r(34);
    border-radius: 2em;
    background-color: rgba(255, 255, 255, .64);
  }
}
.swiper-new {
  swiper {
    height: r(226);
  }
  image {
    transition: transform .5s;
    transform: scale(.734513);
    // box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    &.actived {
      transform: none;
    }
  }
}
.panel-title {
  .ico {
    margin: 0 r(2) 0 0;
  }
}
.panel-title-addon {
  top: 50%;
  right: $padding;
  bottom: auto;
  box-sizing: border-box;
  padding: 0 r(8);
  border: 1px solid;
  color: inherit;
  text-transform: uppercase;
  font-size: r(12);
  line-height: r(18);
  transform: translateY(-50%);
  .ico {
    margin: 0 0 0 r(2);
    font-size: 80%;
  }
}
// 热门品牌
.brand-list {
  padding-bottom: r(2.5);
  > image {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: r(5);
    width: r(108);
    height: r(50);
    border: 1px solid $color-border-2;
    &:nth-child(3n-1) {
      margin-right: r(10);
      margin-left: r(10);
    }
  }
}

// 四大国家
.country-avatar {
  display: inline-block;
  margin-top: r(15);
  width: r(49);
  height: r(49);
}
</style>

<script lang="javascript">
const { redirect, navigate } = require('../libs/wechat')
const app = getApp()

Page({
  data: {
    items: app.global.products,
    swiperIndex: 0,
    swiperNewIndex: 1
  },
  redirect, navigate,
  swiperChange(e) {
    const { current } = e.detail
    const { key } = e.currentTarget.dataset
    this.setData({ [key]: current })
  }
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "白兔白",
  "usingComponents": {}
}
</template>
