<template lang="pug">
//- import(src="/templates/brand-item.wxml")

view.flex.pd-l.pd-y-h
  view.flex-1.flex.flex-hc.field
    view.ico.ico-search.h2.mg-x-ot
    input.flex-1.mg-l-h(
      placeholder="搜索商品、型号、品牌、分类"
      placeholder-class="gray"
      bindconfirm="onSearch"
      value="{{q}}"
    )
  view.flex.flex-hc.pd-x(bindtap="onCancel") 取消

//- view
//-   template(wx:if="{{q}}" is="brand-item")
search(wx:if="{{q}}")
view.panel(wx:else="")
  view.panel-title.h3 热门搜索
  view.pd-x.keywords
    block(wx:for="123456" wx:key="item")
      text(bindtap="search") pinko
  view.panel-title.h3 历史搜索
  view.pd-x.keywords
    block(wx:for="123456" wx:key="item")
      text(bindtap="search") pinko
</template>

<style lang="scss">
@import 'variable';
@include ico('search');
page {
  background-color: #fff;
}
.field {
  border-radius: 2em;
  background-color: $color-gray-6;
  input {
    height: r(34);
  }
}
.keywords {
  margin: 0 r(-10) r(30) 0;
  text {
    display: inline-block;
    margin: 0 r(10) r(10) 0;
    padding: r(1) r(12);
    border-radius: 2em;
    background-color: $color-gray-6;
    font-size: $font-s;
  }
}

</style>

<script lang="javascript">
const { redirect, navigate } = require('../libs/wechat')

Page({
  data: {
    q: ''
  },
  redirect, navigate,
  onSearch({ detail: { value } }) {
    this.setData({
      q: value.trim()
    })
  },
  onCancel() {
    this.setData({
      q: ''
    })
  },
  onLoad({ q }) {
    if (q)
      this.setData({ q })
  }
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "白兔白",
  "usingComponents": {
    "search": "/components/search"
  }
}
</template>
