<template lang="pug">
titlebar(scroll-top="{{scrollTop}}")
view.backdrop
  image(mode="aspectFill" src="/assets/sample_images/buyer_backdrop.jpg")
view.panel.gap
  view.positioned
    image.logo(mode="aspectFill" src="/assets/sample_images/brand_logo.jpg")
    view.flex.flex-between.info.pd-x.pd-y-ot
      view
        view.h3.strong FENDI
        view.flex.h6
          view #[text.ico.ico-nation-it] 意大利
          view.gray.mg-l-h 在售商品<text class="darkred">31</text>件
      view.mg-t-h.btn-follow(class="{{followed ? 'followed' : ''}}" bindtap="follow")
  view.pd-x.pd-t-h
    collapsable.h6.gray.pd-b(min-height="90" label).
      Fendi是意大利著名的奢侈品品牌，1925年创立于罗马，以奢华皮草和经典手袋在世界高级时装界享有盛誉，现属LVMH集团。芬迪品牌以其奢华皮草和经典手袋在世界高级时装界享有盛誉。2018年12月，世界品牌实验室发布《2018世界品牌500强》榜单，芬迪排名第415。
search
</template>

<style lang="scss">
@import 'variable';
@include ico('nation-it');

.backdrop {
  height: r(150);
  background-color: #110e30;
  image {
    opacity: .7;
  }
}
.logo {
  position: absolute;
  top: r(-20);
  left: $padding;
  width: r(80);
  height: r(80);
  border-radius: r(2);
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(213,213,213,1);
}
.info {
  align-items: flex-start;
  margin-left: r(90);
}
.btn-follow {
  border: none;
  background: linear-gradient(to right, #464545 0%, #b40a23 100%);
  color: #fff;
}

</style>

<script lang="javascript">
const { redirect, navigate, toast } = require('../../libs/wechat')

Page({
  data: {
    scrollTop: 0,
    followed: false
  },
  follow() {
    this.setData({
      followed: !this.data.followed
    }, () => {
      toast(this.data.followed  ? '已关注' : '已取消关注')
    })
  },
  redirect, navigate,
  onPageScroll({ scrollTop }) {
    this.setData({ scrollTop })
  },
})
</script>

<template lang="json">
{
  "navigationBarTextStyle": "white",
  "navigationBarTitleText": "",
  "navigationStyle": "custom",
  "usingComponents": {
    "titlebar": "/components/titlebar",
    "search": "/components/search",
    "collapsable": "/components/collapsable"
  }
}
</template>
