<template lang="pug">
import(src="/templates/feature-item.wxml")
view.pd-t
  template(is="feature-item" wx:for="1234" wx:key="item")
</template>

<script lang="javascript">
const { redirect, navigate } = require('../../libs/wechat')

Page({
  data: {
  },
  navigate, redirect,
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "大牌爆款"
}
</template>
