<template lang="pug">
view#top
  view.flex.pd.pd-t-h.field-wrapper
    view.flex-1.flex.flex-hc.field
      view.ico.ico-search.h2.mg-x-ot
      input.flex-1.mg-l-h(placeholder="搜索商品、型号、品牌、分类" placeholder-class="gray")
  tab(items="{{['热门','品牌']}}" bindchange="onTab" current="{{tabIndex}}")
block(wx:if="{{tabIndex === 0}}")
  view.pd.hot-brand
    block(wx:for="1234678" wx:key="index")
      view.hot-brand-item.mg-b(bindtap="navigate" data-to="brand/index")
        image(mode="aspectFit")
        view.h5.gray GUCCI
scroll-view(
  wx:else=""
  style="height:calc(100vh - {{topOffset}}px)"
  scroll-y="true"
  scroll-into-view="group-{{groupId}}"
)
  view(wx:for="{{brands}}" wx:key="title")
    view.h3.strong.group-title(id="group-{{item.title}}") {{item.title}}
    block(wx:for="{{item.list}}" wx:key="index")
      view.group-item(bindtap="navigate" data-to="brand/index") {{item}}
view.group-navigator#navigator(
  wx:if="{{tabIndex === 1}}"
  bindtouchstart="setNavigating"
  bindtouchend="setNavigating"
  bindtouchmove="onNavigating"
)
  view.group-navigator-bubble(wx:if="{{isNavigating}}") {{groupId}}
  block(wx:for="{{brands}}" wx:key="title")
    view.group-navigator-item(data-title="{{item.title}}" data-size="{{item.list.length}}") {{item.title}}
</template>

<style lang="scss">
@import 'variable';
@include ico('search');
page {
  background-color: #fff;
}
.field {
  border-radius: 2em;
  background-color: #fff;
  &-wrapper {
    background-color: $color-black;
  }
  input {
    height: r(34);
  }
}
.hot-brand {
  padding-bottom: r(2.5);
  &-item {
    display: inline-block;
    text-align: center;
    &:nth-child(3n-1) {
      margin-right: r(10);
      margin-left: r(10);
    }
    > image {
      box-sizing: border-box;
      margin-bottom: r(5);
      width: r(108);
      height: r(50);
      border: 1px solid $color-border-2;
    }
  }
}
.group {
  &-title {
    padding: 0 r(25);
    background-color: $color-gray-6;
    text-transform: uppercase;
    line-height: r(45);
  }
  &-item {
    padding: 0 r(25);
    line-height: r(45);
  }
  &-navigator {
    position: fixed;
    top: 54%;
    right: 0;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;
    transform: translateY(-50%);
    &-bubble {
      position: absolute;
      top: 50%;
      right: 100%;
      width: r(40);
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, .1);
      font-weight: bold;
      font-size: r(18);
      line-height: r(40);
      transform: translateY(-50%);
    }
    &-item {
      padding: 0 r(15);
    }
  }
}

</style>

<script lang="javascript">
const { redirect, navigate, debounce } = require('../../libs/wechat')

Page({
  data: {
    tabIndex: 0,
    topOffset: 0,
    navigatorOffset: 0,
    navigatorStep: 0,
    groupId: '',
    isNavigating: false,
    brands: new Array(26).fill().map((_, i) => (
      {
        title: String.fromCharCode(97 + i),
        list: new Array(~~(Math.random() * 10) + 4).fill('ARMANI 阿玛尼')
      }
    ))
  },
  navigate, redirect,
  onTab(e) {
    this.setData({
      tabIndex: e.detail.current
    }, () => {
      if (this.data.tabIndex === 1 && !this.navigatorInited) {
        this.navigatorInited = true
        this.initNavigator()
      }
    })
  },
  onNavigating(e) {
    const { title, size } = e.target.dataset
    if (!title || !e.touches[0]) return
    const navigator = e.currentTarget
    const y = e.touches[0].clientY
    let point = ~~((y - this.data.navigatorOffset) / this.data.navigatorStep)
    if (point < 0) point = 0
    else if (point > 25) point = 25

    this.setData({
      groupId: String.fromCharCode(97 + point)
    })
    wx.pageScrollTo({ scrollTop: this.data.topOffset + size * 45 })
  },
  setNavigating({ type }) {
    this.setData({
      isNavigating: type === 'touchstart' ? true : false,
      groupId: ''
    })
  },
  initNavigator() {
    // this.onNavigating = debounce(this.onNavigating.bind(this), 100)
    wx.createSelectorQuery().select('#top').boundingClientRect(({ height }) => {
      this.setData({ topOffset: height })
    }).exec()
    wx.createSelectorQuery().select('#navigator').boundingClientRect(({ height, top }) => {
      this.setData({
        navigatorStep: height / 26,
        navigatorOffset: top
      })
    }).exec()
  }
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "品牌",
  "backgroundColor": "#141414",
  "usingComponents": {
    "tab": "/components/tab"
  }
}
</template>
