<template lang="pug">
import(src="/templates/brand-item.wxml")
template(is="brand-item" wx:for="1234" wx:key="item")
</template>

<script lang="javascript">
const { redirect, navigate } = require('../../libs/wechat')

Page({
  data: {
  },
  navigate, redirect,
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "关注品牌"
}
</template>
