<template lang="pug">
view.container(catchtap="onTap" )
  view.checkbox(class="{{checked ? 'checked' : ''}}")
</template>

<script lang="javascript">
Component({
  properties: {
    checked: {
      type: Boolean,
      value: false,
      observer: function (checked) {
        this.setData({ checked })
      }
    }
  },

  attached() {
    if (this.data.height !== this.properties.minHeight)
      this.setData({
        height: this.properties.minHeight,
      })
  },

  ready() {
    this.setData({
      ready: true
    })
  },

  methods: {
    onTap() {
      this.setData({
        checked: !this.data.checked
      }, () => {
          this.triggerEvent('change', { value: this.data.checked })
        })
    },
  }

})
</script>

<style lang="scss">
@import "variable";
.container {
  display: flex;
  // justify-content: center;
  align-items: center;
  width: r(25);
  height: r(30);
}
.checkbox {
  box-sizing: border-box;
  width: r(15);
  height: r(15);
  border: 1px solid #bbb;
  border-radius: 50%;
  &.checked {
    background: base64("assets/images/checkbox_checked.png");
    border: 0;
    background-size: 100% auto;
  }
}
</style>


<template lang="json">
{
  "component": true
}
</template>
