<template lang="pug">
view
  view.content(
    class="{{className ? className : ''}}"
    style="max-height:{{height}}rpx;transition-duration:{{ready ? duration: 0}}ms")
    slot
  view.switch(wx:if="{{control}}" class="{{expanded ? 'switch expanded' : 'switch'}}" bindtap="collapse")
    text(wx:if="{{label}}") {{expanded ? '点击收起 ' : '点击展开 '}}
</template>

<script lang="javascript">
Component({
  properties: {
    minHeight: {
      type: Number,
      value: 0
    },
    maxHeight: {
      type: Number,
      value: 800
    },
    duration: {
      type: Number,
      value: 400
    },
    className: String,
    label: Boolean,
    control: {
      type: Boolean,
      value: true
    },
    current: {
      type: Boolean,
      value: false,
      observer: function (current) {
        this.setData({
          expanded: !current
        }, () => this.collapse())
      }
    },
    animate: {
      type: Boolean,
      value: true
    }
  },

  data: {
    expanded: false,
    ready: false,
    height: 0
  },

  attached() {
    if (this.data.height !== this.properties.minHeight)
      this.setData({
        height: this.properties.minHeight,
      })
  },

  ready() {
    this.setData({
      ready: true
    })
  },

  methods: {
    collapse(e) {
      const { expanded } = this.data
      const { minHeight, maxHeight } = this.properties
      const data = {
        expanded: !expanded
      }
      if (this.properties.animate) {
        data.height = expanded ? minHeight : maxHeight
      } else {
        data.height = expanded ? minHeight : 'auto'
      }
      this.setData(data)
    },
  }

})
</script>

<style lang="scss">
@import "variable";
.content {
  position: relative;
  overflow: hidden;
  transition-property: max-height;
}
.switch {
  padding: r(10) 0;
  text-align: center;
  line-height: 1;
  color: $color-gray-1;
  &::after {
    display: inline-block;
    margin-bottom: r(1);
    width: r(6);
    height: r(6);
    border: 0 solid $color-gray-3;
    border-width: 1px 1px 0 0;
    content: "";
    transform: rotate(135deg);
  }
  &.expanded::after {
    margin-bottom: r(-1);
    transform: rotate(-45deg);
  }
}
</style>


<template lang="json">
{
  "component": true
}
</template>
