<template lang="pug">
view.container(class="{{theme}}")
  view.inner
    text.operator(bindtap="add" data-step="{{-1}}") -
    view.field: input(type="number" value="{{value}}" bindinput="input")
    text.operator(bindtap="add" data-step="{{1}}") +
</template>

<script lang="javascript">
Component({
  properties: {
    value: {
      type: Number,
      value: 1
    },
    min: {
      type: Number,
      value: 1
    },
    max: {
      type: Number,
      value: 100
    },
    // flat | solid (default)
    theme: {
      type: String,
      value: 'solid'
    }
  },
  data: {
  },

  methods: {
    add(e) {
      const step = +e.currentTarget.dataset.step
      const value = this.data.value + step
      const min = Math.min(this.properties.max, value)
      const max = Math.max(this.properties.min, value)
      this.setData({
        value: step > 0 ? min : max
      }, () => {
        this.triggerEvent('change', { value: this.data.value })
      })
    },
    input(e) {
      let value = e.detail.value
      if (value !== '') {
        value = +value
        const { min, max } = this.properties
        if (value < min) value = min
        if (value > max) value = max
        this.setData({
          value
        }, () => {
          this.triggerEvent('change', { value: this.data.value })
        })
      }
    }
  }
})
</script>

<style lang="scss">
@import 'variable';
.container {
  display: inline-block;
}
.inner {
  display: flex;
  height: r(20);
  text-align: center;
  line-height: r(18);
}
.operator {
  width: r(20);
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: r(25);
  input {
    min-height: 0;
    font-size: r(11);
    line-height: 1;
  }
}
.solid {
  .inner {
    border: 1px solid $color-border-2;
  }
  .operator {
    color: #d8dee4;
  }
  .field {
    border: 0 solid $color-border-2;
    border-width: 0 1px;
  }
}
.flat {
.inner {
  height: r(24);
  border-radius: r(2);
  overflow: hidden;
}
  .operator {
    color: #777777;
    background-color: #ECEDF3;
    width: r(25);
    line-height: r(20);
  }
  .field {
    background-color: #ECEDF3;
    margin: 0 1px;
  }
}
</style>


<template lang="json">
{
  "component": true
}
</template>
