<template lang="pug">
view.modal(style="transition-duration:{{duration}}ms;opacity:{{open?1:0}}")
  view.modal-body
    view.modal-title 批量设置
    view.modal-content: slot
    view.modal-footer
      view(bindtap="cancel") 取消
      view.primary(bindtap="confirm") 确定
</template>

<script lang="javascript">
const animationToken = wx.createAnimation({ timingFunction: 'ease' })

Component({
  properties: {
    title: {
      type: String,
      value: '提示'
    },
    duration: {
      type: Number,
      value: 200
    }
  },

  data: {
    animation: null,
    isBusy: false,
    isOpen: false // indicates the display style
  },
  attached() {
    setTimeout(() => {
      this.setData({ open: true })
    }, 0)
  },
  detached() {
    this.setData({ open: false })
  },
  methods: {
    confirm() {
      this.triggerEvent('confirm')
    },
    cancel() {
      this.triggerEvent('cancel')
    }
  }
})
</script>

<style lang="scss">
@import 'variable';
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
  opacity: 0;
  transition-property: opacity;
  &-body {
    overflow: hidden;
    width: r(345);
    border-radius: r(5);
    background-color: #fff;
  }
  &-title {
    padding-top: r(12);
    text-align: center;
    font-size: $font-l;
  }
  &-content {
    padding: $padding;
  }
  &-footer {
    display: flex;
    border-top: 1px solid $color-border-2;
    text-align: center;
    font-size: $font-l;
    > view {
      flex: 1;
      padding: r(10) 0;
      &:active {
        background-color: $color-border-2;
      }
      + view {
        border-left: 1px solid $color-border-2;
      }
      &.primary {
        color: $color-orange;
      }
    }
  }
}

</style>

<template lang="json">
{
  "component": true
}
</template>
