<template lang="pug">
view.container(wx:if="{{opened}}" class="{{mask ? 'masked' : ''}}")
  view.main
    image.thumbnail(mode="aspectFill" src="/assets/sample_images/product.jpg")
    view.info
      view.info-price €209.00
      view.info-state 已选择 蓝色 XL
    scroll-view.selection(scroll-y="true")
      view.group
        view.group-title 颜色
        view.group-cells
          block(wx:for="{{colors}}" wx:key="item")
            text.group-cell(
              bindtap="onSelect"
              class="{{current.color === item ? 'selected' : ''}}"
              data-type="color" data-value="{{item}}") 深蓝色
      view.group
        view.group-title 尺码
        view.group-cells
          block(wx:for="{{sizes}}" wx:key="item")
            text.group-cell(
              bindtap="onSelect"
              class="{{current.size === item ? 'selected' : ''}}"
              data-type="size"
              data-value="{{item}}") M
      view.group
        view.group-title 数量
          input-number.counter(bindchange="onAdd" value="{{current.count}}" theme="flat")
    view.close(bindtap="close") ×
    view.btn(bindtap="onConfirm") 确定
</template>

<script lang="javascript">
const { toast } = require('../libs/wechat')

Component({
  properties: {
    mask: Boolean,
    checked: {
      type: Boolean,
      value: false,
      observer: function (checked) {
        this.setData({ checked })
      }
    }
  },

  data: {
    opened: false,
    sizes: new Array(1).fill().map((_, i) => 'S' + i),
    colors: new Array(1).fill().map((_, i) => '色' + i),
    current: {
      size: '',
      color: '',
      count: ''
    }
  },

  methods: {
    onSelect({ target }) {
      const { type, value } = target.dataset
      this.setData({
        ['current.' + type]: value
      })
    },
    onAdd({ detail: { value } }) {
      this.setData({
        'current.count': value
      })
    },
    onConfirm() {
      const data = { ...this.data.current }
      if (!Object.values(data).join('')) return toast('请选择', { icon: 'none' })
      this.callback && this.callback(data)
      this.triggerEvent('confirm', data)
      this.close()
    },
    pick() {
      return new Promise(resolve => {
        this.open()
        this.callback = resolve
      })
    },
    open() {
      this.setData({
        opened: true
      })
    },
    close() {
      this.setData({
        opened: false
      })
    }
  }
})
</script>

<style lang="scss">
@import "variable";
.container {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  &.masked {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  animation: slideInUp 0.4s both;
  padding-bottom: r(45);
}
.close {
  position: absolute;
  top: 0;
  line-height: r(43);
  font-size: r(30);
  width: r(43);
  text-align: center;
  right: 0;
  opacity: 0.7;
}
.btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: $font-xl;
  line-height: r(45);
  color: #443229;
  background-color: $color-golden;
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.thumbnail {
  width: r(105);
  height: r(105);
  border-radius: r(2);
  position: absolute;
  left: $padding;
  top: r(-20);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.info {
  margin: $padding 0 $padding r(135);
  &-price {
    font-weight: bold;
    font-size: $font-xl;
  }
  &-state {
    color: $color-gray-1;
    font-size: $font-s;
  }
}
.selection {
  min-height: r(280);
  max-height: 70vh;
}
.group {
  padding: 1px 0;
  margin: $padding;
  &-title {
    font-weight: bold;
    margin-bottom: r(7.5);
  }
  &-cells {
    margin-right: r(-10);
    text {
      display: inline-block;
      margin: 0 r(10) r(10) 0;
      padding: r(1) r(4);
      text-align: center;
      min-width: r(32);
      border-radius: r(2);
      background-color: $color-gray-6;
      font-size: $font-xs;
      &.selected {
        background-color: #dbb79f;
        color: #fff;
      }
    }
  }
}
.counter {
  float: right;
}
</style>


<template lang="json">
{
  "component": true,
  "usingComponents": {
    "input-number": "./input-number"
  }
}
</template>
