<template lang="pug">
view.container
  view.caption(wx:if="{{showSort}}")
    view 综合
    view 最新
    view(bindtap="onSort") 价格 #[text.ico(class="ico-sort-{{query.sort}}")]
    view(
      bindtap="navigate"
      data-to="/pages/functions/filter?from=/pages/brand/detail"
    ) 筛选 #[text.ico.ico-filter]
  view.caption.strong(wx:else=""): view 全部商品
  view.products
    block(wx:for="{{items}}" wx:key="id")
      view.product(bindtap="navigate" data-to="/pages/product/detail")
        image.product-thumbnail(mode="aspectFill" src="{{item.thumbnail}}")
        view.product-info
          view {{item.title}}
          view.product-price #[text.smaller ¥]100.00
  view.products-tail
    image(mode="widthFix" src="/assets/images/list_tail.png")
    view 别拉了，到底啦...
</template>

<script lang="javascript">
const { navigate } = require('../libs/wechat')
const app = getApp()

Component({
  properties: {
    showSort: {
      type: Boolean,
      value: true
    }
  },
  data: {
    safeAreaInsetTop: app.global.safeAreaInsetTop,
    items: app.global.products,
    showFilter: false,
    query: {
      sort: 'asc'
    }
  },
  methods: {
    navigate,
    onSort() {
      const sort = this.data.query.sort === 'asc' ? 'desc' : 'asc'
      this.setData({
        query: { ...this.data.query, sort }
      })
    },
    onFilter(e) {
      this.setData({
        showFilter: !e.currentTarget.dataset.close
      })
    }
  }
})
</script>

<style lang="scss">
@import 'variable';
.ico {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 0;
  background-position: center;
  background-size: auto 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  vertical-align: -.2em;
  vertical-align: -.15em;
  &-sort-asc {
    background-image: base64('assets/images/ico-sort-asc.png');
  }
  &-sort-desc {
    background-image: base64('assets/images/ico-sort-desc.png');
  }
  &-filter {
    background-image: base64('assets/images/ico-filter.png');
  }
}
.container {
  padding-top: 1px;
  background-color: $color-gray-6;
}
.caption {
  display: flex;
  line-height: r(44);
  border-bottom: 1px solid $color-border-2;
  background-color: #fff;
  text-align: center;
  > view {
    flex: 1;
  }
  &.strong {
    font-weight: 500;
  }
}
.products {
  overflow: hidden;
  padding: r(9.5);
  &-tail {
    padding: r(15) 0;
    color: $color-gray-3;
    text-align: center;
    font-size: r(12);
    image {
      display: inline-block;
      width: r(50);
    }
  }
}
.product {
  float: left;
  overflow: hidden;
  margin: r(5);
  width: r(168);
  border-radius: r(5);
  background-color: #fff;
  &-info {
    padding: r(5) r(10);
    font-size: $font-xs;
    line-height: 1.5;
  }
  &-thumbnail {
    height: r(168);
  }
  &-price {
    margin-top: r(5);
    color: $color-red-2;
    font-weight: bold;
    font-size: r(15);
  }
}
.smaller {
  font-size: 80%;
}
@keyframes slideIn {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
</style>


<template lang="json">
{
  "component": true
}
</template>
