<template lang="pug">
view.outter(
  bindtouchstart="touchstart"
  bindtouchmove="touchmove"
  bindtouchend="touchend"
  bindtouchcancel="touchend")
  view.inner(style="transform:translate3d({{translate}}px,0,0);transition-duration:{{duration}}ms")
    view#content: slot(name="content")
    view#hidden.hidden(style="height:{{height}}px"): slot(name="hidden")
</template>

<script lang="javascript">
Component({
  options: {
    multipleSlots: true
  },
  properties: {
    resistance: {
      type: Number,
      value: .2
    },
    threshold: {
      type: Number,
      value: 14
    },
    duration: {
      type: Number,
      value: 200
    }
  },
  data: {
    translate: 0,
    offset: 0,
    busy: true,
    opened: false,
    height: 0
  },

  ready() {
    this.createSelectorQuery().select('#hidden').boundingClientRect(({ width }) => {
      this.setData({
        offset: -width
      }, () => {
        this.busy = false
      })
    }).exec()
    this.createSelectorQuery().select('#content').boundingClientRect(({ height }) => {
      this.setData({
        height
      })
    }).exec()
  },

  methods: {
    touchstart: function ({ touches: [touch] }) {
      if (this.busy) return
      this.start = touch.pageX
      this.setData({
        duration: 0
      })
    },
    touchmove: function ({ touches: [touch] }) {
      if (this.busy) return
      let translate = (touch.pageX - this.start) * this.properties.resistance + (this.data.opened ? this.data.offset : 0)
      if (translate > 0) return
      if (translate < this.data.offset) translate = this.data.offset
      this.setData({
        translate
      })
    },
    touchend: function () {
      const translate = this.data.translate - (this.data.opened ? this.data.offset : 0)

      if (this.busy || !translate) return

      this.busy = true
      setTimeout(() => {
        this.busy = false
      }, 200)

      const duration = 100
      const { threshold } = this.properties
      if (translate < -threshold || translate > threshold)
        return this.setData({
          translate: this.data.opened ? 0 : this.data.offset,
          duration,
          opened: !this.data.opened
        })

      this.setData({
        translate: this.data.opened ? this.data.offset : 0,
        duration
      })
    }
  }
})
</script>

<style lang="scss">
@import "variable";

.outter {
  background-color: #fff;
  overflow: hidden;
}
.inner {
  transition-property: transform;
}
.hidden {
  position: absolute;
  left: 100%;
  top: 0;
}
</style>


<template lang="json">
{
  "component": true
}
</template>
