<template lang="pug">
view.tab(
  class="{{slim ? 'slim' : ''}}"
  class="{{bordered ? 'bordered' : ''}}"
  class="{{className ? className : ''}}"
  style="{{height ? ('height:' + height + 'rpx;') : ''}}{{color ? ('color:' + color + ';') : ''}}"
)
  view.tab-item(
    wx:for="{{items}}"
    wx:key="index"
    class="{{index === tabIndex ? 'actived' : ''}}"
    style!="{{index === tabIndex && selectedColor ? ('color:' + selectedColor) : ''}}"
    bindtap="onTab"
    data-index="{{index}}"
  ) #[text {{item}}]
</template>

<script lang="javascript">
Component({
  properties: {
    items: {
      type: Array,
      value: ['a', 'b']
    },
    color: String,
    selectedColor: String,
    current: {
      type: Number,
      value: 0,
      observer(tabIndex) {
        if (this.data.tabIndex !== tabIndex) {
          this.setData({ tabIndex })
        }
      }
    },
    slim: Boolean,
    bordered: {
      type: Boolean,
      value: true
    },
    className: String
  },

  data: {
    tabIndex: 0
  },

  methods: {
    onTab(e) {
      this.setData({
        tabIndex: e.currentTarget.dataset.index || 0
      }, () => {
        this.triggerEvent('change', { current: this.data.tabIndex })
      })
    },
  }

})
</script>

<style lang="scss">
@import "variable";

.tab {
  position: relative;
  display: flex;
  border-bottom: 1px solid $color-border-2;
  background-color: #fff;
  color: $color-gray-2;
  font-weight: 500;
  &-item {
    position: relative;
    flex: 1;
    text-align: center;
    > text {
      position: relative;
      display: inline-block;
      padding: r(8.5) 0;
      font-size: $font-l;
    }
    &.actived {
      color: #141414;
      > text {
        &::after {
          position: absolute;
          right: 0;
          bottom: -1px;
          left: 0;
          border-top: r(2) solid;
          content: "";
        }
      }
    }
  }
  &.slim {
    .tab-item {
      > text {
        padding: r(8) 0;
        font-size: $font;
      }
    }
    .tab-item::after {
      content: none;
    }
    .tab-item:first-child {
      padding-left: r(40);
    }
    .tab-item:last-child {
      padding-right: r(40);
    }
  }
  &.bordered {
    .tab-item + .tab-item::before {
      position: absolute;
      top: 50%;
      left: 0;
      height: 1em;
      border-left: 1px solid #e5e7ec;
      content: "";
      transform: translateY(-50%);
    }
  }
}
</style>


<template lang="json">
{
  "component": true
}
</template>
