<template lang="pug">
view.container(style="padding-top:{{safeAreaInsetTop}}px" class="{{immersive ? '' : 'bg'}}")
  view(wx:if="{{title}}") {{title}}
  view(wx:else="" style="visibility:hidden") .
  view.btn-back(bindtap="onBack" style="top:{{safeAreaInsetTop}}px")
    view.ico-arrow-left
</template>

<script lang="javascript">
const app = getApp()

Component({
  properties: {
    title: String,
    scrollTop: {
      type: Number,
      value: 0,
      observer(v) {
        const immersive = v <= 50
        if (immersive === this.data.immersive) return
        this.setData({
          immersive
        })
        wx.setNavigationBarColor({
          backgroundColor: '#fff',
          frontColor: immersive ? '#ffffff' : '#000000'
        })
      }
    }
  },
  data: {
    immersive: true,
    safeAreaInsetTop: app.global.safeAreaInsetTop
  },
  pageLifetimes: {

  },
  methods: {
    onBack() {
      wx.navigateBack()
    }
  }
})
</script>

<style lang="scss">
@import "variable";
.container {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  text-align: center;
  font-weight: 600;
  line-height: $titlebar-height;
  color: #fff;
  &.bg {
    color: $color-black;
    background-color: #fff;
    border-bottom: 1px solid $color-border-2;
  }
}
.btn-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: r(12);
  display: flex;
  align-items: center;
  width: 4em;
}
.ico-arrow-left {
  width: 0.7em;
  height: 0.7em;
  border: 0 solid;
  border-width: 0 0 2px 2px;
  content: "";
  transform: rotate(45deg);
}
</style>


<template lang="json">
{
  "component": true
}
</template>
