<template lang="pug">
titlebar(title="个人主页" scroll-top="{{scrollTop}}")
view.backdrop
  image(mode="aspectFill" src="/assets/sample_images/buyer_backdrop.jpg")
view.block.gap
  view.positioned
    image.avatar(mode="aspectFill" src="/assets/sample_images/buyer_backdrop.jpg")
    view.flex.flex-between.info.pd-x.pd-y-ot
      view
        view.h3 意大利买手1号
        view.h6.gray 商品1889
      view.mg-t-h.btn-follow(class="{{followed ? 'followed' : ''}}" bindtap="follow")
  view.pd
    view #[text.ico.ico-check-blue] 官方买手账号
    view.h6 小可爱你来了呀！久等了，我是Buytobuyer家的意大利买手1号，这里每天都有上传新的商品呢，总有一款适合你。关注我，不会错过超低折扣哦～
search(show-sort="{{false}}")
</template>

<style lang="scss">
@import "variable";
@include ico("check-blue");

.backdrop {
  height: r(150);
  background-color: #110e30;
  image {
    opacity: 0.7;
  }
}
.avatar {
  width: r(80);
  height: r(80);
  border-radius: 50%;
  border: r(3) solid #f3d884;
  box-sizing: border-box;
  position: absolute;
  left: $padding;
  top: r(-20);
}
.info {
  margin-left: r(90);
  align-items: flex-start;
}
</style>

<script lang="javascript">
const { redirect, navigate, toast } = require('../../libs/wechat')

Page({
  data: {
    scrollTop: 0,
    followed: false
  },
  follow() {
    this.setData({
      followed: !this.data.followed
    }, () => {
      toast(this.data.followed  ? '已关注' : '已取消关注')
    })
  },
  redirect, navigate,
  onPageScroll({ scrollTop }) {
    this.setData({ scrollTop })
  },
})
</script>

<template lang="json">
{
  "navigationBarTextStyle": "white",
  "navigationBarTitleText": "",
  "navigationStyle": "custom",
  "usingComponents": {
    "titlebar": "/components/titlebar",
    "search": "/components/search"
  }
}
</template>
