<template lang="pug">
titlebar(title="意大利买手" scroll-top="{{scrollTop}}")
view.backdrop
  image(mode="aspectFill" src="/assets/sample_images/buyer_backdrop.jpg")
  view.flex.flex-between.flex-hc.buyer-avatars
    block(wx:for="1234" wx:key="item")
      image(bindtap="navigate" data-to="detail" mode="aspectFill" src="/assets/sample_images/buyer_backdrop.jpg")
    view.buyer-more(bindtap="navigate" data-to="list"): text.ico.ico-more
view.tweets
  view.pd-x.pd-y-ot.tweet(wx:for="{{tweets}}" wx:key="id")
    view.flex(bindtap="navigate" data-to="detail")
      image.tweet-avatar(mode="aspectFill" src="/assets/sample_images/buyer_backdrop.jpg")
      view.flex-1
        view.h5 意大利买手1号 #[text.orange | 推荐]
        view.h6.gray.lh-normal 20小时前
    view.flex.flex-between.mg-y-ot.positioned(bindtap="navigate" data-to="tweet")
      image.tweet-picture(wx:for="123" wx:key="item" mode="aspectFill" src="/assets/sample_images/buyer_backdrop.jpg")
      view.tweet-picture.flex.flex-center.text-center.more
        view 更多
        view.h5 +999
    view
      view.h5.strong FENDI
      view.gray.thin.lh-normal Fendi/芬迪PEEKABOO FIT系列手提单肩公文包
      view.flex.flex-between
        view.strong.h3.darkred €230.00
        view.tweet-action.flex.h3
          view.flex-1(bindtap="collect" data-id="{{item.id}}")
            text.ico(class="ico-heart{{item.collected ? '-selected' : ''}}")
          view.flex-1(bindtap="navigate" data-to="/pages/product/detail"): text.ico.ico-cart
</template>

<style lang="scss">
@import 'variable';
@include ico('more');
@include ico('heart');
@include ico('heart-selected');
@include ico('cart');
page {
  background-color: #fff;
}
.backdrop {
  position: relative;
  height: r(217);
  background-color: #110e30;
  > image {
    opacity: .7;
  }
}
.buyer-avatars {
  position: absolute;
  right: r(25);
  bottom: $padding;
  left: r(25);
  > image {
    box-sizing: border-box;
    width: r(60);
    height: r(60);
    border: 3px solid #f3d884;
    border-radius: 50%;
  }
}
.buyer-more {
  font-size: r(23);
}
.tweet {
  + .tweet {
    border-top: 1px solid $color-border-2;
  }
  &-avatar {
    position: relative;
    box-sizing: border-box;
    margin-right: r(12);
    width: r(40);
    height: r(40);
    border: 1px solid #f3d884;
    border-radius: 50%;
  }
  &-picture {
    width: r(109);
    height: r(140);
    &.more {
      position: absolute;
      right: 0;
      background-color: #000;
      color: #fff;
      opacity: .5;
    }
  }
  &-action {
    text-align: right;
    width: r(60);
  }
  .orange {
    color: #ff9c7b;
  }
}

</style>

<script lang="javascript">
const { redirect, navigate, toast } = require('../../libs/wechat')
const app = getApp()

Page({
  data: {
    scrollTop: 0,
    tweets: app.global.products
  },
  collect(e) {
    const id = e.currentTarget.dataset.id
    this.setData({
      tweets: this.data.tweets.map(t => {
        if (t.id === id) {
          t.collected = !t.collected
          toast(t.collected ? '已收藏' : '已取消收藏')
        }
        return t
      })
    })
  },
  redirect, navigate,
  onPageScroll({ scrollTop }) {
    this.setData({ scrollTop })
  },
})
</script>

<template lang="json">
{
  "navigationBarTextStyle": "white",
  "navigationBarTitleText": "",
  "navigationStyle": "custom",
  "usingComponents": {
    "titlebar": "/components/titlebar"
  }
}
</template>
