<template lang="pug">
//- image.preview(mode="widthFix" src="/preview/my_following_buyer.png")
view.mg.container
  block(wx:for="1234" wx:key="index")
    view.pd.flex.flex-hc.buyer(bindtap="navigate" data-to="detail")
      image.buyer-avatar(mode="aspectFill" src="/assets/images/avatar.png")
      view.flex-1.flex.flex-hc.pd-y-ot
        view.flex-1
          view.strong 意大利买手1号
          view.mute.h6 发布290件商品
        view.btn-follow.followed(catchtap="unFollow" data-id="{{index}}")
</template>

<style lang="scss">
@import "variable";
.container {
  border-radius: r(10);
  background-color: #fff;
  box-shadow: 0 0 5px #e5e5e5;
}
.buyer {
  position: relative;
  + .buyer::before {
    content: "";
    position: absolute;
    right: $padding;
    top: 0;
    left: r(40) + $padding;
    border-top: 1px solid $color-border-2;
  }
  &-avatar {
    margin-right: $padding;
    width: r(40);
    height: r(40);
    border: 2px solid rgba(165, 230, 177, 1);
    border-radius: 50%;
    background: rgba(244, 224, 215, 1);
    box-shadow: 0 4px 12px 0 rgba(207, 207, 207, 1);
  }
}
</style>

<script lang="javascript">
const { redirect, navigate, modal, toast } = require('../../libs/wechat')

Page({
  data: {
  },
  navigate, redirect,
  unFollow(e) {
    const id = e.currentTarget.dataset.id
    modal('确定取消关注？').then(() => toast('成功'))
  },
  onLoad({ title }) {
    wx.setNavigationBarTitle({title: title || '全部买手'})
  }
})
</script>

<template lang="json">
{
  "navigationBarTitleText": ""
}
</template>
