<template lang="pug">
view.pd-x.pd-y-ot.tweet
  view.flex.mg-b
    image.tweet-avatar(mode="aspectFill" src="/assets/sample_images/buyer_backdrop.jpg")
    view.flex-1
      view.h5 意大利买手1号 #[text.orange | 推荐]
      view.h6.gray.lh-normal 20小时前
    view
      view.mg-t-h.btn-follow(class="{{followed ? 'followed' : ''}}" bindtap="follow")
  view.article {{article}}
  view.flex.media-card(bindtap="navigate" data-to="/pages/product/detail")
    image.media-card-thumbnail(mode="aspectFill" src="/assets/sample_images/buyer_backdrop.jpg")
    view.flex-1.pd-ot.strong
      view.h5.lh-normal Chloe/Drew Bag流浪包系列手提单肩链条包
      view.darkred.mg-t-h €230.00
    image.media-card-btn(mode="aspectFill" src="/assets/images/btn_media_card.png")
  view.mg-x
    block(wx:for="1234" wx:key="index")
      image.mg-b(mode="widthFix" src="/assets/sample_images/slider_new_img.jpg")
</template>

<style lang="scss">
@import 'variable';
@include ico('more');
@include ico('heart');
@include ico('heart-selected');
@include ico('cart');
page {
  background-color: #fff;
}
.backdrop {
  position: relative;
  height: r(217);
  background-color: #110e30;
  image {
    opacity: .7;
  }
}
.buyer-avatars {
  position: absolute;
  right: r(25);
  bottom: $padding;
  left: r(25);
  > image {
    box-sizing: border-box;
    width: r(60);
    height: r(60);
    border: 3px solid #f3d884;
    border-radius: 50%;
  }
}
.buyer-more {
  font-size: r(23);
}
.tweet {
  &-avatar {
    position: relative;
    box-sizing: border-box;
    margin-right: r(12);
    width: r(40);
    height: r(40);
    border: 1px solid #f3d884;
    border-radius: 50%;
  }
  &-picture {
    width: r(109);
    height: r(140);
    &.more {
      position: absolute;
      right: 0;
      background-color: #000;
      color: #fff;
      opacity: .5;
    }
  }
  &-action {
    width: r(60);
    text-align: right;
  }
  .orange {
    color: #ff9c7b;
  }
}
.article {
  color: #474646;
  white-space: pre-line;
  font-size: r(15);
  line-height: 1.5;
}
.media-card {
  margin: r(18) 0 r(23);
  position: relative;
  overflow: hidden;
  border-radius: r(5);
  background-color: #f3f4f9;
  &-thumbnail {
    width: r(100);
    height: r(100);
  }
  &-btn {
    position: absolute;
    right: r(10);
    bottom: r(10);
    width: r(40);
    height: r(22);
  }
}

</style>

<script lang="javascript">
const { redirect, navigate, toast } = require('../../libs/wechat')
const app = getApp()

Page({
  data: {
    scrollTop: 0,
    followed: false,
    article: `Olivia Palermo 街拍新选择！Chloe经典小猪包2.0版本已上线！Chloe新创意总监Natacha Rasay-Levi自上任后一直在做一件聪明的事情：她没有彻底改变DNA,而是延续着平排一贯的流浪少女风格。

在chloe2018春夏系列中，这款升级Drew Bag与大家见面，采用绗缝皮革和更为粗大的链条，两种全新的元素的加入都使Drew Bag更为摩登优雅。`
  },
  follow() {
    this.setData({
      followed: !this.data.followed
    }, () => {
      toast(this.data.followed  ? '已关注' : '已取消关注')
    })
  },
  redirect, navigate,
  onPageScroll({ scrollTop }) {
    this.setData({ scrollTop })
  },
})
</script>

<template lang="json">
{
  "navigationBarTitleText": ""
}
</template>
