<template lang="pug">
view.flex.h3.strong.pd-x.pd-t.tab
  view.mg-r 配送至:
  view.flex.flex-1.flex-between
    view(data-index="{{0}}" bindtap="switchTab" class="{{tabIndex === 0 ? 'actived' : ''}}")
      | #[text.ico.ico-nation-hk.h3] 香港
    view(data-index="{{1}}" bindtap="switchTab" class="{{tabIndex === 1 ? 'actived' : ''}}")
      | #[text.ico.ico-nation-cn.h3] 中国内陆
    view(data-index="{{2}}" bindtap="switchTab" class="{{tabIndex === 2 ? 'actived' : ''}}")
      | #[text.ico.ico-nation-other.h3] 其他地区

view.pd-x.addr-form
  //- 收件人、收件人手机 all
  view.addr-formitem
    view.gray.addr-label(class!="{{params.name && params.name.focused ? 'focused' : ''}}") 收件人
    input.flex-1(data-name="name" bindfocus="inputReact" bindblur="inputReact" bindchange="inputReact")
  view.addr-formitem
    view.gray.addr-label(class!="{{params.phone && params.phone.focused ? 'focused' : ''}}") 收件人手机
    input.flex-1(data-name="phone" bindfocus="inputReact" bindblur="inputReact" bindchange="inputReact")

  //- 身份证号 mainland
  view.addr-formitem(wx:if="{{tabIndex === 1}}")
    view.gray.addr-label(class!="{{params.idCard && params.idCard.focused ? 'focused' : ''}}") 身份证号
    input.flex-1(data-name="idCard" bindfocus="inputReact" bindblur="inputReact" bindchange="inputReact")

  //- 所在地区 mainland & hk
  view.addr-formitem(wx:if="{{tabIndex !== 2}}")
    view.gray.addr-label(class!="{{params.region && params.region.focused ? 'focused' : ''}}") 所在地区
    picker.flex-1(mode="region" data-name="region" bindchange="inputReact")
      block(wx:if!="{{params.region && params.region.value}}") {{params.region.value}}
      text.invisiable(wx:else="") .
    view.ico.ico-arrow-right.mute-2

  //- 所在国家 省/州 城市 other
  block(wx:if="{{tabIndex === 2}}")
    view.addr-formitem
      view.gray.addr-label(class!="{{params.country && params.country.focused ? 'focused' : ''}}") 所在国家
      picker.flex-1(range="{{countryCode}}" range-key="cn" data-name="country" bindchange="inputReact")
        block(wx:if!="{{params.country && params.country.value}}") {{countryCode[params.country.value].cn}}
        text.invisiable(wx:else="") .
      view.ico.ico-arrow-right.mute-2
    view.addr-formitem
      view.gray.addr-label(class!="{{params.state && params.state.focused ? 'focused' : ''}}") 省/州
      input.flex-1(data-name="state" bindfocus="inputReact" bindblur="inputReact" bindchange="inputReact")
    view.addr-formitem
      view.gray.addr-label(class!="{{params.city && params.city.focused ? 'focused' : ''}}") 城市
      input.flex-1(data-name="city" bindfocus="inputReact" bindblur="inputReact" bindchange="inputReact")

  //- 详细地址 all
  view.addr-formitem
    view.gray.addr-label(class!="{{params.address && params.address.focused ? 'focused' : ''}}") 详细地址
    input.flex-1(data-name="address" bindfocus="inputReact" bindblur="inputReact" bindchange="inputReact")

  //- 邮政编码 mainland & other
  view.addr-formitem(wx:if="{{tabIndex !== 0}}")
    view.gray.addr-label(class!="{{params.postCode && params.postCode.focused ? 'focused' : ''}}") 邮政编码
    input.flex-1(data-name="postCode" bindfocus="inputReact" bindblur="inputReact" bindchange="inputReact")

view.footer(class="{{tabIndex === 0 ? 'fixed' : ''}}")
  view.flex.flex-between.mg-b.gray
    view(bindtap="setDefault")
      text.ico.h2(class!="ico-{{isDefault ? 'checked' : 'check'}}")
      text  设为默认地址
    view(bindtap="delete")
      text.ico.ico-bin.h2
      text  删除地址
  view.footer-btn(bindtap="save") 保存
</template>

<style lang="scss">
@import 'variable';
@include page-top();
@include ico('check');
@include ico('checked');
@include ico('bin');
@include ico('nation-hk');
@include ico('nation-cn');
@include ico('nation-other');
page {
  background: #fff;
}
.tab {
  .actived {
    border-bottom: r(3) solid;
  }
}
.addr {
  &-formitem {
    position: relative;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: r(8);
    height: r(75);
    border-bottom: 1px solid $color-border-2;
    font-size: r(15);
    .ico {
      margin: 0;
    }
  }
  &-label {
    position: absolute;
    top: r(41);
    transition: top .15s;
    pointer-events: none;
    &.focused {
      top: r(16);
      font-weight: 500;
      font-size: $font-s;
    }
  }
}
.footer {
  margin-top: r(20);
  padding: r(10) $padding;
  background-color: #fff;
  &-btn {
    padding: r(10);
    border-radius: r(5);
    background-color: $color-black;
    color: #fff;
    text-align: center;
    font-style: $font-l;
  }
  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

</style>

<script lang="javascript">
const { redirect, navigate, toast } = require('../../../libs/wechat')
const countryCode = require('../../../libs/country_code')
const app = getApp()

Page({
  data: {
    countryCode,
    isDefault: false,
    params: {},
    tabIndex: 0
  },
  navigate, redirect,
  switchTab({ currentTarget: { dataset } }) {
    this.setData({
      tabIndex: dataset.index
    })
  },
  inputReact({ type, target: { dataset }, detail }) {
    if (!detail) return
    const { value } = detail;
    const focused = Boolean(value || type === 'focus')
    this.setData({
      params: {
        ...this.data.params,
        [dataset.name]: { value, focused }
      }
    })
  },
  setDefault() {
    this.setData({
      isDefault: !this.data.isDefault
    })
  },
  save() {
    const addresses = app.global.addresses || []
    addresses.push(this.data.params)
    app.global.addresses = addresses
    wx.navigateBack()
  },
  delete() {
    const addresses = app.global.addresses || []
    addresses.pop()
    app.global.addresses = addresses
    wx.navigateBack()
  }
})
</script>

<template lang="json">
{
  "navigationBarBackgroundColor": "#fff",
  "navigationBarTextStyle": "black",
  "navigationBarTitleText": "添加收货地址"
}
</template>
