<template lang="pug">
block(wx:if="{{addresses.length}}")
  view.pd-x.pd-y-h.flex.flex-hc.addr(wx:for="{{addresses}}" wx:key="index")
    view.flex-1
      view
        text.h2.strong.addr-name 宋家家
        text.mute 13345678910
      view 广东省深圳市南山区星海名城二期七组团
    view.ico.ico-pen.addr-edit(bindtap="navigate" data-to="edit")
  view.gap--btn-fix
  view.btn-pill(bindtap="navigate" data-to="edit") 新建地址
view.text-center(wx:else="")
  image.addr-empty(src="/assets/images/addr-empty.png" mode="aspectFill")
  view.mute-1.h2 您还没有收货地址哦！
  view.h3.addr-new(bindtap="navigate" data-to="edit") 新建地址
</template>

<style lang="scss">
@import 'variable';
page {
  background: #fff;
}
.addr {
  border-bottom: 1px solid $color-border-2;
  &-name {
    margin-right: r(15);
  }
  &-edit {
    margin: 0;
    width: r(25);
    height: r(25);
  }
  &-new {
    border: 1px solid $color-gray-3;
    border-radius: 2em;
    width: r(120);
    margin: r(15) auto;
    padding: r(2) 0;
  }
  &-empty {
    width: r(69);
    height: r(74);
    margin: r(180) auto r(15);
  }
}
@include ico('pen');

</style>

<script lang="javascript">
const { redirect, navigate, toast } = require('../../../libs/wechat')
const app = getApp()
Page({
  data: {
    addresses: []
  },
  navigate, redirect,
  onShow() {
    this.setData({
      addresses: app.global.addresses || []
    })
  }
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "地址管理"
}
</template>
