<template lang="pug">
scroll-view.body(scroll-y="true")
  view.group.pd-x
    view.group-title.h3 分类
      view.group-title-addon(bindtap="toggleMore" data-type="categories" class="{{groupState.categories ? 'expanded' : ''}}")
        text.ico
    //- collapsable
    collapsable(min-height="{{130}}" control="{{false}}" animate="{{false}}" current="{{groupState.categories}}")
      view.group-content
        block(wx:for="{{groups.categories}}" wx:key="item")
          text(bindtap="select" data-value="{{item}}" data-type="categories"
            class="{{query.categories[item] ? 'selected' : ''}}") {{item}}
  view.group.pd-x
    view.group-title.h3 品牌
      view.group-title-addon(bindtap="toggleMore" data-type="brands" class="{{groupState.brands ? 'expanded' : ''}}")
        text.ico
    collapsable(min-height="{{130}}" control="{{false}}" animate="{{false}}" current="{{groupState.brands}}")
      view.group-content
        block(wx:for="{{groups.brands}}" wx:key="item")
          text(bindtap="select" data-value="{{item}}" data-type="brands"
            class="{{query.brands[item] ? 'selected' : ''}}") {{item}}
  view.group.pd-x
    view.group-title.h3 价格区间
    view.group-content.flex
      input.flex-1(placeholder="最低价" placeholder-class="mute-1" type="number"
        bindinput="onInput" data-type="priceMin" value="{{query.priceMin}}")
      view.input-sep
      input.flex-1(placeholder="最高价" placeholder-class="mute-1" type="number"
        bindinput="onInput" data-type="priceMax" value="{{query.priceMax}}")
  view.group.pd-x
    view.group-title.h3 材质
      view.group-title-addon(bindtap="toggleMore" data-type="materials" class="{{groupState.materials ? 'expanded' : ''}}")
        text.ico
    collapsable(min-height="{{130}}" control="{{false}}" animate="{{false}}" current="{{groupState.materials}}")
      view.group-content
        block(wx:for="{{groups.materials}}" wx:key="item")
          text(bindtap="select" data-value="{{item}}" data-type="materials"
            class="{{query.materials[item] ? 'selected' : ''}}") {{item}}
  view.group.pd-x
    view.group-title.h3 发货地
    view.group-content
        block(wx:for="{{groups.countries}}" wx:key="item")
          text(bindtap="select" data-value="{{item}}" data-type="countries"
            class="{{query.countries[item] ? 'selected' : ''}}") {{item}}
view.footer.flex.text-center.h3
  view.flex-1(bindtap="onReset" data-close="{{true}}") 重置
  view.flex-1(bindtap="onConfirm" data-close="{{true}}") 确定
</template>

<style lang="scss">
@import 'variable';
$footer-height: r(45);
page {
  background-color: #fff;
}
.body {
  height: #{'calc(100vh - ' + $footer-height + ')'};
}
.footer {
  box-shadow: 0 -2px 4px 0 rgba(242, 242, 242, 1);
  line-height: $footer-height;
  > view:last-child {
    background: linear-gradient(-90deg, #8b1111 0%, #cb3c3d 100%);
    color: #fff;
  }
}
.group {
  margin-bottom: r(20);
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: r(10);
    &-addon {
      color: #ababab;
      font-size: $font-xs;
      &::before {
        content: '全部';
      }
      .ico {
        margin-left: r(2);
        background-image: base64('assets/images/ico-arrow-down-s.png');
      }
      &.expanded {
        &::before {
          content: '收起';
        }
        .ico {
          background-image: base64('assets/images/ico-arrow-up-s.png');
        }
      }
    }
  }
  &-content {
    margin-right: -$padding;
    text, input {
      display: inline-block;
      margin: 0 r(10) r(10) 0;
      padding: r(1) r(15);
      border-radius: 2em;
      background-color: #f0f0f0;
      text-align: center;
      font-size: $font-s;
    }
    input {
      margin: 0;
      &:last-of-type {
        margin-right: $padding;
      }
    }
    .selected {
      background-color: #cb3c3d;
      color: #fff;
    }
  }
}
.input-sep {
  margin: 0 r(10);
  &::after {
    content: '—';
  }
}

</style>

<script lang="javascript">
const { redirect, navigate } = require('../../libs/wechat')
const app = getApp()

Page({
  data: {
    groups: {
      categories: new Array(20).fill().map((_, i) => '上装' + i),
      brands: new Array(20).fill().map((_, i) => 'pinko' + i),
      materials: new Array(20).fill().map((_, i) => '牛皮' + i),
      countries: ['香港', '意大利', '英国', '西班牙']
    },
    groupState: {
      categories: false,
      brands: false,
      countries: false
    },
    query: {
      categories: {},
      brands: {},
      materials: {},
      countries: {},
      priceMin: '',
      priceMax: ''
    },
    from: null
  },
  redirect, navigate,
  toggleMore({ currentTarget }) {
    const { type } = currentTarget.dataset
    const { groupState } = this.data
    this.setData({
      groupState: { ...groupState, [type]: !groupState[type] }
    })
  },
  select({ currentTarget }) {
    const { type, value } = currentTarget.dataset
    const { query } = this.data
    if (!query[type]) query[type] = {}
    query[type][value] = !query[type][value]

    this.setData({
      query: { ...query }
    })
  },
  onInput({ detail: { value }, currentTarget }) {
    const { type } = currentTarget.dataset
    const { query } = this.data
    this.setData({
      query: { ...query, [type]: value.trim() }
    })
  },
  onReset() {
    this.setData({
      query: {}
    })
  },
  onConfirm() {
    app.global.query = this.data.query
    wx.navigateBack()
  },
  onLoad() {
    this.setData({
      query: app.global.query || {}
    })
  }
})
</script>

<template lang="json">
{
  "navigationBarBackgroundColor": "#fff",
  "navigationBarTextStyle": "black",
  "navigationBarTitleText": "筛选",
  "usingComponents": {
    "collapsable": "/components/collapsable"
  }
}
</template>
