<style lang="scss">
@import "reset";
@import "layout";
@import "text";
@import "components";
@import "debug";
</style>

<script lang="javascript">
App({
  global: {
    addresses: [],
    products: [
      {
        id: 1,
        title: 'Fendi/芬迪PEEKABOO FIT系列手提单肩公文包',
        price: '€100.00',
        amount: 100,
        size: 'S',
        color: '棕色',
        count: 1,
        checked: false,
        brand: 'Fendi',
        thumbnail: '/assets/sample_images/color_thumbnail.jpg'
      },
      {
        id: 2,
        title: 'Fendi/芬迪PEEKABOO FIT系列手提单肩公文包',
        price: '€2.00',
        amount: 2,
        size: 'M',
        color: '棕色',
        count: 2,
        checked: true,
        brand: 'Fendi',
        thumbnail: '/assets/sample_images/color_thumbnail.jpg'
      },
      {
        id: 3,
        title: 'Fendi/芬迪PEEKABOO FIT系列手提单肩公文包',
        price: '€2.00',
        amount: 2,
        size: 'M',
        color: '棕色',
        count: 2,
        checked: true,
        brand: 'Fendi',
        thumbnail: '/assets/sample_images/color_thumbnail.jpg'
      }
    ]
  },
  onLaunch() {
    this.global.systemInfo = wx.getSystemInfoSync()
    this.global.safeAreaInsetTop = this.global.systemInfo.statusBarHeight
  }
})
</script>

<template lang="json">
{
  "pages": [],
  "window": {
    "navigationBarBackgroundColor": "#141414",
    "navigationBarTextStyle": "white",
    "backgroundColor": "#141414",
    "navigationBarTitleText": "白兔白"
  },
  "tabBar": {
    "color": "#aaa",
    "selectedColor": "#141414",
    "list": [
      {
        "pagePath": "pages/index",
        "text": "首页",
        "iconPath": "assets/images/ico_tab_home.png",
        "selectedIconPath": "assets/images/ico_tab_home_selected.png"
      },
      {
        "pagePath": "pages/categories",
        "text": "分类",
        "iconPath": "assets/images/ico_tab_apps.png",
        "selectedIconPath": "assets/images/ico_tab_apps_selected.png"
      },
      {
        "pagePath": "pages/cart",
        "text": "购物车",
        "iconPath": "assets/images/ico_tab_cart.png",
        "selectedIconPath": "assets/images/ico_tab_cart_selected.png"
      },
      {
        "pagePath": "pages/my/index",
        "text": "我的",
        "iconPath": "assets/images/ico_tab_person.png",
        "selectedIconPath": "assets/images/ico_tab_person_selected.png"
      }
    ]
  },
  "sitemapLocation": "sitemap.json"
}
</template>
