<template lang="pug">
block(wx:for="1234" wx:key="index")
  view.coll-item.pd-x.mg-y-ot.flex(bindtap="navigate" data-to="../product/detail")
    image.coll-thumbnail(mode="aspectFill" src="/assets/sample_images/product.jpg")
    view.flex-1.flex.flex-between-y.pd-y-h
      view.h6 Fendi/芬迪PEEKABOO FIT系列手提单肩公文包
      view.flex.flex-between
        view.darkred.strong €168.60
        view.h6.coll-btn(catchtap="unCollect" data-id="{{index}}") 取消收藏
</template>

<style lang="scss">
@import "variable";
page {
  background-color: #fff;
}
.coll-thumbnail {
  margin-right: r(10);
  width: r(100);
  height: r(100);
  border-radius: r(5);
}
.coll-btn {
  padding: 0 16rpx;
  border: 1px solid;
  border-radius: 2em;
}
</style>

<script lang="javascript">
const { redirect, navigate, toast, modal } = require('../../libs/wechat')

Page({
  data: {
  },
  navigate, redirect,
  unCollect(e) {
    const id = e.currentTarget.dataset.id
    modal('确定取消收藏？').then(() => toast('成功'))
  }
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "我的收藏"
}
</template>
