<template lang="pug">
view(wx:for="1234" wx:key="index")
  view.pd-x-ot.pd-t-h.h6.gray 3月25日
  view.flex.flex-between.flex-wrap
    view.history-item.mg-t-h(wx:for="1234" wx:key="index")
      image(mode="aspectFill" src="/assets/sample_images/product.jpg")
      view.pd-ot.h5.darkred.strong €168.60
</template>

<style lang="scss">
@import 'variable';
.history-item {
  background-color: #fff;
  > image {
    width: r(120);
    height: r(120);
  }
}
</style>

<script lang="javascript">
const { redirect, navigate } = require('../../libs/wechat')

Page({
  data: {
  },
  navigate, redirect,
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "我的足迹"
}
</template>
