<template lang="pug">
import(src="/templates/goods-item.wxml")

view.panel.gap.pd-x.pd-y-h
  view.flex.flex-hc.h5.search-form
    view.ico.ico-search.h2
    input.flex-1(placeholder-class="mute" placeholder="请扫描条形码")
    view.ico.ico-scan.h2
  view.red.strong 为避免商品重复，请先确认该商品未上传
template(is="goods-item" wx:for="{{goods}}" wx:key="id" data="{{...item}}")

view.gap--btn-fix
view.btn-pill(bindtap="navigate" data-to="addItem/step1") 新增商品
</template>

<style lang="scss">
@import 'variable';
@include page-top();
@include ico('scan');
@include ico('search');
.search-form {
  margin: r(4) 0;
  padding: r(4) r(4) r(4) r(2);
  border-radius: 2em;
  background-color: $color-gray-6;
}
</style>

<script lang="javascript">
const { redirect, navigate } = require('../../libs/wechat')

Page({
  data: {
    goods: [
      {
        id: 1,
        title: 'prada/普拉达 经典款多色牛皮单肩包女',
        count: 10,
        onsale: false,
        date: '2019.6.20 12:30',
        warehouse: '香港',
        thumbnail: '/assets/sample_images/product.jpg',
        price: '€100.00'
      },
      {
        id: 2,
        title: 'xxx/普拉达 经典款多色牛皮单肩包女',
        count: 999,
        onsale: false,
        date: '2019.6.20 12:30',
        warehouse: '美国',
        thumbnail: '/assets/sample_images/product.jpg',
        price: '€100.00'
      },
      {
        id: 2,
        title: '666/普拉达 经典款多色牛皮单肩包女',
        count: 999,
        onsale: true,
        date: '2019.6.20 12:30',
        warehouse: '日本',
        thumbnail: '/assets/sample_images/product.jpg',
        price: '€100.00'
      },
    ]
  },
  navigate, redirect,
})
</script>

<template lang="json">
{
  "navigationBarBackgroundColor": "#fff",
  "navigationBarTextStyle": "black",
  "navigationBarTitleText": "商品上架"
}
</template>
