<template lang="pug">
//- image.preview(mode="widthFix" src="/preview/my_index.png")
view.positioned.text-center.wall
  image.caption-bg(src="/assets/images/my_bg.jpg" mode="aspectFill")
  view.user
    image.user-avatar(mode="aspectFill" src="/assets/images/avatar.png")
    view.user-name.h2.strong 意大利买手11111号
  view.flex.potentials
    view.flex-1.flex.flex-center(bindtap="navigate" data-to="collection")
      text 9999
      text.small.mute-1 我的收藏
    view.flex-1.flex.flex-center(bindtap="navigate" data-to="../brand/list")
      text 9999
      text.small.mute-1 关注品牌
    view.flex-1.flex.flex-center(bindtap="navigate" data-to="../buyer/list?title=关注买手")
      text 9999
      text.small.mute-1 关注买手
    view.flex-1.flex.flex-center(bindtap="navigate" data-to="footprint")
      text 9999
      text.small.mute-1 浏览足迹
view.gap.pd-t-h.order
  view.linklist
    view.linklist-item #[text.ico.ico-paper.h2]  我的订单
      text.linklist-item-addon(bindtap="navigate" data-to="orders") 查看全部
  view.flex.flex-around.text-center
    view.order-link.flex-1(bindtap="navigate" data-to="orders")
      view.ico.ico-wallet.h2
      view.small.mg-t-h 待付款
      view.order-link-badge.red 1
    view.order-link.flex-1(bindtap="navigate" data-to="orders")
      view.ico.ico-package.h2
      view.small.mg-t-h 待发货
      view.order-link-badge.red 11
    view.order-link.flex-1(bindtap="navigate" data-to="orders")
      view.ico.ico-truck.h2
      view.small.mg-t-h 待收货
      view.order-link-badge.red 99+
    view.order-link.flex-1(bindtap="navigate" data-to="orders")
      view.ico.ico-exchange.h2
      view.small.mg-t-h 退款/售后
      view.order-link-badge.red 99+

view.linklist.gap-xl
  view.linklist-item(bindtap="navigate" data-to="goods") #[text.ico.ico-telegram.h2]  商品上架
  view.linklist-item(bindtap="navigate" data-to="warehouse") #[text.ico.ico-home.h2]  仓库管理
  view.linklist-item(bindtap="navigate" data-to="address/index") #[text.ico.ico-location.h2]  地址管理
  view.linklist-item #[text.ico.ico-note.h2]  意见反馈
</template>

<style lang="scss">
@import 'variable';

.wall {
  height: r(276);
  background-color: $color-black;
  color: #fff;
}
.caption-bg {
  position: absolute;
  right: 0;
  left: 0;
}
.user {
  position: relative;
  z-index: 1;
  padding-top: r(45);
  &-avatar {
    display: inline-block;
    margin-bottom: r(7);
    width: r(75);
    height: r(75);
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 r(2) $color-gray-6;
  }
}
.potentials {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: r(69);
  background-color: rgba(255, 255, 255, .1);
}
@include ico('paper');
@include ico('wallet');
@include ico('package');
@include ico('truck');
@include ico('exchange');
@include ico('location');
@include ico('note');
@include ico('telegram');
@include ico('home');
// linklist 目前没发现能复用
.linklist {
  background-color: #fff;
  font-size: r(15);
  &-item {
    position: relative;
    padding: $padding;
    &:last-of-type::before {
      content: none;
    }
    &::before {
      position: absolute;
      right: $padding;
      bottom: 0;
      left: r(40);
      border-bottom: 1px solid $color-border-1;
      content: '';
    }
    &::after {
      position: absolute;
      top: 50%;
      right: $padding;
      border: r(4) solid transparent;
      border-width: r(4) r(8) r(4) r(8);
      border-left-color: currentColor;
      content: '';
      transform: translate(50%, -50%);
    }
    &-addon {
      position: absolute;
      top: 50%;
      right: r(30);
      color: $color-gray-1;
      font-size: smaller;
      transform: translateY(-50%);
    }
  }
}
.order {
  background-color: #fff;
  &-link {
    position: relative;
    padding: r(20) 0;
    .ico {
      font-size: r(24);
    }
    &-badge {
      position: absolute;
      top: r(10);
      left: r(48);
      padding: 0 r(2);
      min-width: r(16);
      box-sizing: border-box;
      height: r(16);
      border-radius: 2em;
      background-color: #ff9c7b;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      font-weight: 500;
      font-size: r(9);
      line-height: r(16);
    }
  }
}

</style>

<script lang="javascript">
const { redirect, navigate } = require('../../libs/wechat')

Page({
  data: {
  },
  redirect, navigate
})
</script>

<template lang="json">
{
  "navigationBarTitleText": " 我的",
  "usingComponents": {}
}
</template>
