<template lang="pug">
view.caption
  view.caption-inner
    view.h3.strong 卖家已发货
    view.h6 预计7个工作日到达
  image(mode="aspectFill" src="/assets/images/order_caption_bg.png")
view.pd
  view.block
    view.flex.flex-hc.pd-ot
      view.ico.ico-location2.h2
      view.flex-1.pd-y
        view.mg-b-h 大宝 #[text.gray.h4.mg-l 13456657878]
        view 广东省深圳市南山区星海名城二期七组团
    view.hr
    view.gap.pd-ot
      view.flex.flex-hc.bordered.pd-b
        view.ico.ico-bag.h2
        view.flex-1 #[text.h3.strong 推荐人:] #[text  Fashionh12]
      //- item list
      view(wx:for="123" wx:key="item")
        view.flex.item.h5.mg-y
          image(mode="aspectFill" src="/assets/sample_images/product.jpg")
          viee.flex-1
            view
              view
                text.h3 GUCCI
                text.h4.pull-right.darkred €149.00
              view
                text 多色双G条纹外套
                text.h6.pull-right.gray x1
              view.h6.mute.mg-t: text.item-spec 颜色：黑色；尺码：S;
        view.actions.pd-b
          view.action 申请售后
          view.action 确认收货
      view.pd-b-h.info
        view.pd-y-h 商品总价：#[text.h4.pull-right €298.00]
        view.pd-y-h 运费：#[text.h4.pull-right €298.00]
        view.pd-y-h 佣金：#[text.h4.pull-right €298.00]
        view.pd-y-h 实付款：#[text.h3.pull-right.darkred €298.00]
      view.btn-pay 去付款

  view.block.pd-ot.info
    view.pd-y-h 订单编号：#[text.h4.pull-right €298.00]
    view.pd-y-h 创建时间：#[text.h4.pull-right €298.00]
    view.pd-y-h 付款时间：#[text.h4.pull-right €298.00]
    view.pd-y-h 发货时间：#[text.h3.pull-right €298.00]
    view.pd-y-h 买家留言：
    view.h5.pd-y-h.mg-b.lh-normal Fendi/芬迪PEEKABOO FIT系列手提单肩公文包Fendi/芬迪PEEKABOO FIT系列手提单肩公文包Fendi/芬迪PEEKABOO FIT系列手提单肩公文包Fendi/芬迪PEEKABOO FIT系列手提单肩公文包
</template>

<style lang="scss">
@import 'variable';
@include ico('location2');
@include ico('bag');

.ico {
  margin-right: r(10);
}
.block {
  border-radius: r(10);
}
.item {
  line-height: 1.5;
  image {
    margin-right: r(15);
    width: r(80);
    height: r(80);
    border-radius: r(2);
  }
  &-spec {
    background-color: #f3f4f9;
  }
}
.bordered {
  border-bottom: 1px solid $color-border-2;
}
.hr {
  height: r(10);
  background: #fff base64('assets/images/hr.png') center no-repeat;
  background-size: 100% auto;
}
.darkred {
  color: #a81d1c;
}
.action {
  box-sizing: border-box;
  margin-left: r(8);
  padding: r(5.5) r(12);
  border: 1px solid;
  border-radius: 2em;
  color: $color-gray-1;
  line-height: 1;
  &s {
    display: flex;
    justify-content: flex-end;
  }
}
.info {
  line-height: 1;
}
.caption {
  position: relative;
  color: #fff;
  margin-bottom: r(-34);
  z-index: -1;
  image {
    width: r(375);
    height: r(110);
  }
  &-inner {
    position: absolute;
    padding: r(25) r(33) 0;
  }
}
.btn-pay {
  margin: r(8) 0;
  padding: r(8);
  border: 1px solid;
  text-align: center;
  border-radius: r(5);
  color: $color-gray-1;
}
</style>

<script lang="javascript">
const { redirect, navigate } = require('../../libs/wechat')
const app = getApp()

Page({
  redirect, navigate
})
</script>

<template lang="json">
{
  "navigationBarBackgroundColor": "#fff",
  "navigationBarTextStyle": "black",
  "navigationBarTitleText": "订单详情"
}
</template>
