<template lang="pug">
import(src="/templates/order-item.wxml")

//- image.preview(mode="widthFix" src="/preview/my_order.png")
tab(items="{{['全部','待付款','待发货','待收货']}}" color="#333" selected-color="#a81d1c" bordered="{{false}}" bindchange="onTab" current="{{tabIndex}}" height="90")
template(is="order-item" wx:for="{{orders}}" wx:key="id" data="{{...item}}")
</template>

<script lang="javascript">
const { redirect, navigate } = require('../../libs/wechat')

Page({
  data: {
    orders: [
      {
        id: 0,
        title: 'Fendi/芬迪PEEKABOO FIT系列手提单肩公文包',
        thumbnail: '/assets/sample_images/product.jpg',
        count: 99,
        price: '€10000.00',
        amount: '€9999.00',
        color: '棕色',
        size: 'S',
        status: -1
      },
      {
        id: 1,
        title: 'Fendi/芬迪PEEKABOO FIT系列手提单肩公文包',
        thumbnail: '/assets/sample_images/product.jpg',
        count: 99,
        price: '€10000.00',
        amount: '€9999.00',
        color: '棕色',
        size: 'S',
        status: 0
      },
      {
        id: 2,
        title: 'Fendi/芬迪PEEKABOO FIT系列手提单肩公文包',
        thumbnail: '/assets/sample_images/product.jpg',
        count: 99,
        price: '€10000.00',
        amount: '€9999.00',
        color: '棕色',
        size: 'S',
        status: 1
      },
      {
        id: 3,
        title: 'Fendi/芬迪PEEKABOO FIT系列手提单肩公文包',
        thumbnail: '/assets/sample_images/product.jpg',
        count: 99,
        price: '€10000.00',
        amount: '€9999.00',
        color: '棕色',
        size: 'S',
        status: 2
      }
    ]
  },
  redirect, navigate,
  onTab(e) {}
})
</script>

<template lang="json">
{
  "navigationBarTitleText": "我的订单",
  "usingComponents": {
    "tab": "/components/tab"
  }
}
</template>
