<template lang="pug">
import(src="/templates/goods-item.wxml")

tab(items="{{['同仓库商品','pinko库商品']}}" bindchange="onTab" slim)
template(is="goods-item" wx:for="{{goods}}" wx:key="id" data="{{...item}}")
</template>

<style lang="scss">
@import 'variable';
@include page-top();
</style>

<script lang="javascript">
const { redirect, navigate } = require('../../libs/wechat')

Page({
  data: {
    tabIndex: 0,
    goods: [
      {
        id: 1,
        title: 'prada/普拉达 经典款多色牛皮单肩包女',
        count: 10,
        onsale: false,
        date: '2019.6.20 12:30',
        warehouse: '香港',
        thumbnail: '/assets/sample_images/product.jpg',
        price: '€100.00'
      },
      {
        id: 2,
        title: 'xxx/普拉达 经典款多色牛皮单肩包女',
        count: 999,
        onsale: false,
        date: '2019.6.20 12:30',
        warehouse: '美国',
        thumbnail: '/assets/sample_images/product.jpg',
        price: '€100.00'
      },
      {
        id: 2,
        title: '666/普拉达 经典款多色牛皮单肩包女',
        count: 999,
        onsale: true,
        date: '2019.6.20 12:30',
        warehouse: '日本',
        thumbnail: '/assets/sample_images/product.jpg',
        price: '€100.00'
      },
    ]
  },
  redirect, navigate,
  onTab(e) {
    this.setData({
      tabIndex: e.detail.current
    })
  },
})
</script>

<template lang="json">
{
  "navigationBarBackgroundColor": "#fff",
  "navigationBarTextStyle": "black",
  "navigationBarTitleText": "仓库管理",
  "usingComponents": {
    "tab": "/components/tab"
  }
}
</template>
